 @font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro.eot");
  src: url("../fonts/GothamPro.eot?#iefix")format("embedded-opentype"),
  url("../fonts/GothamPro.woff") format("woff"),
  url("../fonts/GothamPro.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GothamProBold";
  src: url("../fonts/GothamPro-Bold.eot");
  src: url("../fonts/GothamPro-Bold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/GothamPro-Bold.woff") format("woff"),
  url("../fonts/GothamPro-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
    font-family: "GothamProMedium";
    src: url("../fonts/GothamPro-Medium.eot");
    src: url("../fonts/GothamPro-Medium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamPro-Medium.woff") format("woff"),
    url("../fonts/GothamPro-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "SumacRegular";
    src: url("../fonts/SumacRegular.otf");
    font-style: normal;
    font-weight: normal;
}

$main-yellow:#fbd525;
$main-black: #181c1d;
$main-white: #ffffff;


@mixin btn-default {
    width: 100%;
    max-width: 240px;
    height: 65px;
    background-color: $main-yellow;
    color: $main-black;
    text-shadow: 0px 2px 2.4px rgba(24, 28, 29, 0.1);
    box-shadow: 0px 3px 9px 1px rgba(251, 213, 37, 0.15);
    font-family: 'GothamProBold', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 30px;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    &:focus {
      outline: none;
    }
}
@mixin header-default {
    font-size: 60px;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $main-white;
    font-family: 'GothamProBold', sans-serif;
    span {
        color: $main-yellow;
    }
}
@mixin text-default {
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 30px;
    letter-spacing: normal;
    color: $main-white;
    span {
        color: $main-yellow;
    }
}

* {
    padding: 0;
    margin: 0;
  }
  body {
    margin: 0;
    width: 100%;
    font-family: 'GothamPro', sans-serif;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }

  .wrapper {
    width: 100%;
    max-width: 1900px;
    height: 100%;
    margin: 0 auto;

    .container {
        width: 100%;
        max-width: 1140px;
        margin: 0 auto;
    }

    .welcome {
        width: 100%;
        height: 107px;
        background-color: $main-black;
        display: flex;
    }

    .present {
        width: 100%;
        display: flex;
        .present__logo {
            display: flex;
            padding-right: 52px;
            .logo__glob {
                width: 209px;
                height: 107px;
                background-color: $main-white;
            }
            .logo__ukr__img {
                width: 141px;
                height: 68px;
                padding-top: 19px;
                padding-right: 68px;        
            }
            .logo__glob__img {
                width: 140px;
                height: 41px;
                padding: 33px 0 0 34px;
            }
        }
        .view_menu {
            display: none;
        }
        .close_menu {
            display: none;
        }
        .present__menu {
            display: flex;
           
            .menu__list {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .menu__list__item {
                    font-size: 14px;
                    list-style-type: none;
                    margin-right: 40px;
                    &:last-of-type {
                        margin-right: 0;
                    }
                    .item__link {
                        color: $main-white;
                        text-decoration: none;
                        cursor: pointer;
                        &:hover {
                            text-decoration: none;
                            color: $main-yellow;
                        }
                    }
                }
            }
        }
    }

    .tech-ukr {
        width: 100%;
        background: url('../images/present-bg.jpg') center no-repeat;
        background-size: cover;
        position: relative;
        z-index: 1;
        &::before {
            content: '';
            position: absolute;
            background: url("../images/patterns/pres-pattern-left.png") left no-repeat;
            background-size: contain;
            width: 959px;
            height: 432px;
            bottom: 0;
            left: 0;
            z-index: -1;
        }
        &::after {
            content: '';
            position: absolute;
            background: url("../images/patterns/pres-pattern-right.png") right no-repeat;
            background-size: contain;
            width: 959px;
            height: 432px;
            bottom: 0;
            right: 0;
            z-index: -1;
        }
        .tech-ukr__content {
            padding: 277px 0 102px;
        }
        .tech-ukr__content__header {
            @include header-default();
            width: 100%;
            max-width: 980px;
            margin-bottom: 59px;
        }
        .tech-ukr__content__text {
            @include text-default();
            width: 100%;
            max-width: 536px;
            text-shadow: 0px 1px 4px rgba(24, 28, 29, 0.15);
            margin-bottom: 56px;
        }
        .tech-ukr__content__btn {
            @include btn-default;
            margin-bottom: 168px;
        }
        .tech-ukr__content__info {
            @include text-default();
            width: 100%;
            max-width: 302px;
            font-size: 12px;
            line-height: 18px;
            .content__link {
                display: block;
                color: $main-white;
                font-family: 'GothamProBold', sans-serif;
                text-decoration: none;
                border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            }
        }   
    }

    .about-us {
        width: 100%;
        padding-top: 137px;
        .about-us__content__header {
            @include header-default();
            color: $main-black;
            margin-bottom: 99px;
        }
        .about-us__content {
            width: 100%;
            display: flex;
            align-items: center;
        
            .about-us__content__field {
                position: relative;    
                padding-right: 176px;
                .fiels__text {
                    position: relative;
                    @include text-default();
                    font-size: 24px;
                    color: $main-black;
                    line-height: 18px;
                    padding-left: 94px;
                    margin-bottom: 80px; 
                    &:last-of-type {
                        margin-bottom: 0;
                    } 
                    &:nth-of-type(1) {
                        &::after {
                            display: block;
                            content: '';
                            position: absolute;
                            background: url('../images/collaboration.svg');
                            background-size: cover;
                            width: 39px;
                            height: 36px;
                            top: -9px;
                            left: 15px;
                        }  
                    }
                    &:nth-of-type(2) {
                        &::after {
                            display: block;
                            content: '';
                            position: absolute;
                            background: url('../images/meeting.svg');
                            background-size: cover;
                            width: 33px;
                            height: 33px;
                            top: -8px;
                            left: 19px;
                        }  
                    } 
                    &:nth-of-type(3) {
                        &::after {
                            display: block;
                            content: '';
                            position: absolute;
                            background: url('../images/search.svg');
                            background-size: cover;
                            width: 30px;
                            height: 33px;
                            top: -7px;
                            left: 19px;
                        }  
                    } 
                    &::before {
                        content: '';
                        position: absolute;
                        background: $main-black ;
                        width: 60px;
                        height: 60px;
                        top: -20px;
                        left: 5px;
                    } 
                }
                &::after {
                    content: '';
                    position: absolute;
                    background: url("../images/bracket.png") no-repeat;
                    background-size: contain;
                    width: 49px;
                    height: 296px;
                    top: -44px;
                    right: 81px;
                }
            }
            .about-us__content__info {
                  width: 100%;
                  max-width: 478px;  
                  .info__text {
                    @include text-default();
                    font-size: 20px;
                    color: $main-black;
                    span {
                      color: $main-black;
                      font-family: 'GothamProBold', sans-serif;
                  }
                  }
                  
            }
        }
    }

    .numbers {
        width: 100%;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            background: url("../images/patterns/page-pattern-left.png") left no-repeat;
            background-size: cover;
            width: 118px;
            height: 915px;
            top: 61px;
            left: 0;
        }
        &::after {
            content: '';
            position: absolute;
            background: url("../images/patterns/page-pattern-right.png") right no-repeat;
            background-size: cover;
            width: 91px;
            height: 1872px;
            top: 770px;
            right: 0;
        }
        .numbers__content {
            padding-top: 137px;
            width: 100%;
            .numbers__content__header {
                @include header-default();
                margin-bottom: 79px;
                color: $main-black;
            }
            .numbers__content__companies {
                display: flex;
                margin-bottom: 80px;

                .companies__persent {
                    width: 165px;
                    height: 165px;
                    background-color: $main-black;
                    margin-right: 59px;
                    text-align: center;
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        background: url("../images/triangle-yellow.png") right no-repeat;
                        width: 31px;
                        height: 39px;
                        top: 20px;
                        right: -31px;
                    }
                    .companies__persent__text {
                        font-size: 52px;
                        font-family: 'GothamProBold', sans-serif;
                        color: $main-white;
                        padding-top: 52px;
                    }
                }
                .companies__ofc__text {
                    width: 100%;
                    max-width: 318px;
                    color: $main-black;
                    font-family: 'GothamProBold', sans-serif;
                    font-size: 18px;
                    font-weight: 500;
                    margin-bottom: 38px;
                }
                .companies__ofc {
                    .companies__ofc__logo {
                        display: flex;   
                        align-items: center;
                        img {
                            margin-right: 59px;
                            &:last-of-type {
                                margin-right: 0;
                            }
                        }     
                        .logo__sams {
                            width: 150px;
                            height: 23px;
                        }
                        .logo__micros {
                            width: 171px;
                            height: 37px;
                        }
                        .logo__huawei {
                            width: 183px;
                           height: 40px;
                        }
                        .logo__abby {
                            width: 91px;
                            height: 27px;
                        }
                    }
                }
            }
        }

        .numbers__content__statistic {
            display: flex;
            margin-bottom: 99px;
            .statistic__start {
                width: 330px;
                height: 330px;
                background-color: $main-black;
                margin-right: 60px;
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    background: url("../images/triangle-yellow.png") right no-repeat;
                    width: 31px;
                    height: 39px;
                    top: 51px;
                    right: -31px;
                }
             }
            .statistic__start__text {
                width: 100%;
                max-width: 215px;;
                font-size: 16px;
                font-weight: 500;
                color: $main-white;
                padding-top: 81px;  
                margin: auto;
                span {
                    font-size: 100px;
                    font-family: 'GothamProBold', sans-serif;
                    color: $main-white;
                }
            }
            .statistic__ofc {
                padding-top: 50px;
                .statistic__ofc__header {
                    width: 100%;
                    max-width: 389px;
                    font-size: 18px;
                    font-weight: 500;
                    font-family: 'GothamProBold', sans-serif;
                    margin-bottom: 27px;
                }
                .statistic__ofc__text {
                    width: 100%;
                    max-width: 608px;
                    font-size: 16px;
                    margin-bottom: 34px;
                }
                .statistic__partners {
                    .statistic__partners__header {
                        width: 100%;
                        font-size: 24px;
                        font-family: 'GothamProBold', sans-serif;
                        margin-bottom: 18px;
                    }
                    .statistic__partners__flag {
                        display: flex;
                        .flag__usa,
                        .flag__europe,
                        .flag__israel  {
                            width: 120px;
                            height: 76px;
                            margin-right: 32px;
                            &:last-of-type {
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }
        .numbers__content__facts {
            width: 100%;
            margin-bottom: 139px;
            .facts__header {
                width: 100%;
                font-size: 48px;
                font-family: 'GothamProBold', sans-serif;
                margin-bottom: 60px;
            }
            .facts__text {
                span {
                    font-family: 'GothamProBold', sans-serif;
                }
                font-size: 24px;
                font-weight: 500;
                margin-bottom: 45px;
                padding-left: 49px;
                position: relative;
                &:last-of-type {
                    margin-bottom: 64px;
                }
                &::after {
                    content: '';
                    position: absolute;
                    background: url("../images/triangle-yellow.png") right no-repeat;
                    width: 20px;
                    height: 24px;
                    top: 0;
                    left: 3px;
                }
            }
            .facts__info {
                width: 100%;
                font-size: 16px;
                font-weight: 500;
                .info__link {
                    font-family: 'GothamProBold', sans-serif;
                    color: $main-black;
                    text-decoration: none;
                    border-bottom: 1px solid rgba(24, 28, 29, 0.1);
                }
            }
        }
    }

    .join {
        width: 100%;
        background: url('../images/conference-bg.png') no-repeat;
        background-size: cover;
        position: relative;
        z-index: 1;
        &::after {
            content: '';
            position: absolute;
            background: url("../images/patterns/pres-pattern-left.png") left no-repeat;
            background-size: contain;
            width: 959px;
            height: 432px;
            bottom: 0;
            left: 0;
            z-index: -1;
        }
        &::before {
            content: '';
            position: absolute;
            background: url("../images/patterns/pres-pattern-right.png") right no-repeat;
            background-size: contain;
            width: 959px;
            height: 432px;
            bottom: 0;
            right: 0;
            z-index: -1;
        }
        .join__content {
            padding: 136px 0 140px 0;
        }

        .join__content__header {
            @include header-default();
            width: 100%;
            margin-bottom: 61px;
        }
        .join__content__text {
            @include text-default();
            width: 100%;
            max-width: 760px;
            font-size: 20px;
            margin-bottom: 56px;
           
        }
        .join__content__btn {
            @include btn-default;  
        }
    }

    .team {
        width: 100%;
        padding-top: 140px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            background: url("../images/patterns/square-pattern-left.png") left no-repeat;
            background-size: cover;
            width: 130px;
            height: 207px;
            top: 640px;
            left: 0;
        }
        .team__header {
            @include header-default();
            width: 100%;
            color: $main-black;
            margin-bottom: 79px;
        }
        .team__worker {
            display: flex;
            flex-wrap: wrap;
            .team__worker__item {
                position: relative;
                width: 100%;
                max-width: 300px;
                box-sizing: border-box;
                background-color: #fafafa;
                text-align: center;
                margin: 0 60px 60px 0;
                border: 5px solid transparent;
                &::before {
                    content: '';
                    position: absolute;
                    background: url("../images/patterns/bg_pattern_left.png") left no-repeat;
                    background-size: contain;
                    width: 106px;
                    height: 236px;
                    top: 0;
                    left: 0;
                }
                &::after {
                    content: '';
                    position: absolute;
                    background: url("../images/patterns/bg___right.png") right no-repeat;
                    background-size: contain;
                    width: 105px;
                    height: 234px;
                    top: 0;
                    right: 0;
                }
                &:hover {
                    box-shadow: 0px 3px 20.7px 2.3px rgba(24, 28, 29, 0.15);
                    box-sizing: border-box;
                    border-bottom: 5px solid $main-yellow;
                }
            }
            .worker__item__tla {
                padding-top: 42px;
                padding-bottom: 40px;
                .tla__avatar {
                    width: 120px;
                    height: 121px;
                    margin-bottom: 28px;
                }
                .tla__name {
                    width: 100%;
                    font-size: 18px;
                    font-weight: 500;
                    color: $main-black;
                    margin-bottom: 16px;
                }
                .tla__post {
                    width: 100%;
                    font-size: 16px;
                    font-weight: 500;
                    color: $main-yellow;
                    margin-bottom: 29px;
                }
                .tla__in {
                    img {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }
    }

    .partners {
        width: 100%;
        display: flex;
        padding-top: 139px;
        margin-bottom: 155px;
        .partners__info {
            width: 100%;
            max-width: 248px;
            margin-right: 114px;
            .partners__info__header {
                @include header-default();
                width: 100%;
                color: $main-black;
                margin-bottom: 45px;
                span {
                    color: $main-yellow;
                }
            }
            .partners__info__text {
                width: 100%;
                font-size: 16px;
                font-weight: 500;
                font-style: normal;
                color: $main-black;
                line-height: 30px;
                letter-spacing: normal;
            }
        }
        .partners__logos {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .partners__logos__items {
                display: flex;
                align-items: center;
                justify-content: space-between;
                &:last-of-type {
                    justify-content: inherit;
                }
                
                .logos__items_gl-tech img {
                    width: 127px;
                    height: 38px;                   
                }
                .logos__items_codeska img {
                    width: 179px;
                    height: 28px;                   
                }
                .logos__items_fin-tech img{
                    width: 225px;
                    height: 27px;
                }
                .logos__items_ilawlab {
                    a {
                        text-decoration: none;
                    }
                    h2 {
                        font-family: 'SumacRegular', sans-serif;
                        line-height: 30px;
                        font-size: 30px;
                        font-style: normal;
                        font-stretch: normal;
                        color: #0057a2;
                    }
                }
                .logos__items_100 img {
                    width: 130px;
                    height: 45px;
                }
                .logos__items_patiole img{
                    width: 84px;
                    height: 84px;
                }
                .logos__items_pga img{
                    width: 82px;
                    height: 88px;
                }
            }
        }
    }

    .contact-content {
        width: 100%;
        background-color: #fafafa;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            background: url("../images/patterns/square-pattern-right.png") right no-repeat;
            background-size: cover;
            width: 152px;
            height: 207px;
            top: 38px;
            right: 0;
        }
    }
      .contact {
        padding: 122px 0 140px 0;
        .contact__header {
            @include header-default();
            width: 100%;
            color: $main-black;
            font-family: 'GothamProBold', sans-serif;
            margin-bottom: 79px;
        }
        .contact__socials {
            width: 100%;
            display: flex;
            align-items: center;
            .socials__email {
                display: flex;
                margin-right: 76px;
                a {
                    display: block;
                }
                .email__input {
                    width: 100%;
                    max-width: 346px;
                    height: 116px;
                    background-color: $main-white;
                    box-shadow: 0px 1.5px 14.7px 0.3px rgba(24, 28, 29, 0.01);
                    color: $main-black;
                    font-size: 20px;
                    padding-left: 48px;
                    padding-right: 50px;
                    border: none;
                    box-sizing: border-box;
                    margin: 0;
                    &:focus {
                        outline: none;
                      }
                }
                .email__link {
                    width: 116px;
                    height: 116px;
                    background-color: $main-black;
                    border: none;
                    img {
                        width: 29px;
                        height: 21px;
                        padding: 44px 43px;
                    }
                }
            }
            .social-content {
                display: flex;
                a {
                    display: block;
                }
            }
            .fb__link,
            .twit__link,
            .in__link,
            .telega__link {
                width: 120px;
                height: 116px;
                
            }
            .social__fb, 
            .social__twt,
            .social__in, 
            .social__telega {
                width: 120px;
                height: 116px;
                background-color: $main-white;
                text-align: center;
                img {
                    padding-top: 43px;           
                }
                &:hover {   
                    cursor: pointer;
                    background-color: $main-black;
                    box-shadow: 0px 1.5px 14.7px 0.3px rgba(24, 28, 29, 0.01);
                    &:after {
                        content: '';
                        position: absolute;
                        background: url('../images/logos/right-arrow.png') center no-repeat;
                        background-size: contain;
                        width: 28px;
                        height: 20px;
                        top: 48px;
                        left: 48px;
                    }
                }
            }
            .social__fb {
                margin-right: 41px;
                position: relative;
                z-index: 1;
                img {
                    z-index: 2;
                    width: 14px;
                    height: 29px;
                }
            }
            .social__twt {
                position: relative;
                z-index: 1;
                margin-right: 40px;
                 img {
                    width: 28px;
                    height: 25px;
                }
            }
            .social__in {
                position: relative;
                z-index: 1;
                margin-right: 41px;
                img {
                    z-index: 2;
                    width: 29px;
                    height: 29px;
                }
            }
            .social__telega {
                position: relative;
                z-index: 1;
                img {
                    z-index: 2;
                    width: 28px;
                    height: 27px;
                }
            }
        }
    }

    .footer-content {
        width: 100%;
        background-color: $main-black; 
        position: relative;
        z-index: 1;
        &::after {
            content: '';
            position: absolute;
            background: url("../images/patterns/pres-pattern-left.png") left no-repeat;
            background-size: contain;
            width: 959px;
            height: 432px;
            bottom: 0;
            left: 0;
            z-index: -1;
        }
        &::before {
            content: '';
            position: absolute;
            background: url("../images/patterns/pres-pattern-right.png") right no-repeat;
            background-size: contain;
            width: 959px;
            height: 432px;
            bottom: 0;
            right: 0;
            z-index: -1;
        }
        .container {
            display: flex;
            justify-content: space-between;
            padding-top: 138px;
            padding-bottom: 137px;
        }
    }

    .navigation {
        width: 100%;
        max-width: 593px;
        .navigation__header {
            @include header-default();
            margin-bottom: 74px;
        }
        .present__menu {
            margin-bottom: 78px;
            .menu__list {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .menu__list__item {
                    font-size: 16px;
                    list-style-type: none;
                    margin-right: 35px;
                    &:last-of-type {
                        margin-right: 0;
                    }
                    .item__link {
                        color: $main-white;
                        text-decoration: none;
                        cursor: pointer;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                        &:hover {
                            text-decoration: none;
                            color: $main-yellow;
                        }
                    }
                }
            }
        }
        .navigation__logos {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            margin-bottom: 78px;
            .logos__fb {
                img {
                    width: 14px;
                    height: 29px;
                }
            }
            .logos__twt {
                img {
                    width: 28px;
                    height: 22px;
                }
            }
            .logos__in {
                img {
                    width: 24px;
                    height: 24px;
                }
            }
            .logos__telega {
                img {
                    width: 28px;
                    height: 25px;
                }
            }
        }
        .navigation__input {
            position: relative;
            max-width: 583px;
            .email__input {
                width: 100%;
                max-width: 583px;
                height: 85px;
                box-shadow: 0px 3px 29.4px 0.6px rgba(24, 28, 29, 0.01);
                background-color: #212627;
                color: rgba(255, 255, 255, 0.5);
                font-size: 20px;
                border: none;
                box-sizing: border-box;
                margin-bottom: 61px;
                &:focus {
                    outline: none;
                }
            }
        }
        #mc_embed_signup_scroll {
            .mc-field-group {
                .email__input {
                    padding-left: 45px;
                } 
            }
            .clear {
                width: 130px; 
                height: 54px; 
                position: absolute; 
                top: 15px; 
                right: 35px;
                .button {
                    width: 130px; 
                    height: 54px; 
                    font-size: 16px; 
                    outline: none; 
                    margin: 0; 
                    color: #181c1d; 
                    background-color: #FBD525; 
                    font-weight: bold; 
                    text-transform: uppercase; 
                    padding: 0 16px; 
                    border-radius: 0;
                } 
            }
        }
    
        .navigation__info {
            .info__policy {
                margin-bottom: 48px;
                a {
                    font-size: 16px;
                    text-decoration: none;
                    color: $main-white;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                }
            }
            .info__copy {
                opacity: 0.5;
                font-size: 16px;
                line-height: 24px;
                color: rgba(255, 255, 255, 0.5);
                margin-bottom: 10px;
            }
            .info__design {
                font-size: 16px;
                line-height: 24px;
                color: $main-white;
                text-decoration: none;
                .design__link {
                    display: inline;
                    color: $main-yellow;
                    text-decoration: none;
                    border-bottom: 1px solid $main-yellow;
                }
            }
        }
    }

    .news {
        width: 100%;
        max-width: 447px;
        .news__header {
            @include header-default();
            width: 100%;
            margin-bottom: 77px;
        }        
    }
  }


  @media (max-width: 1200px) {
    .wrapper {
        .container {
            max-width: 900px;
        }
        .welcome {
            height: 70px;
        }
 
        .present {
            .present__logo {
                padding-right: 45px;
                .logo__glob {
                    width: 104px;
                    height: 70px;
                }
                .logo__ukr__img {
                    width: 81px;
                    height: 39px;
                    padding-top: 17px;
                    padding-right: 20px;        
                }
                .logo__glob__img {
                    width: 75px;
                    height: 22px;
                    padding: 23px 0 0 12px;
                }
            }
            .view_menu {
                display: none;
            }
            .close_menu {
                display: none;
            }
            .present__menu {
                .menu__list {
                    .menu__list__item {
                        font-size: 12px;
                        margin-right: 30px;
                    }
                }
            }
        }

        .tech-ukr {
            &::before {
                width: 545px;
                height: 248px;
            }
            &::after {
                width: 545px;
                height: 248px;
            }

            .tech-ukr__content {
                padding: 100px 0 80px;
            }
            .tech-ukr__content__header {
                font-size: 40px;
                margin-bottom: 40px;
            }
            .tech-ukr__content__text {
                font-size: 17px;
                margin-bottom: 45px;
            }
            .tech-ukr__content__btn {
                max-width: 190px;
                height: 55px;
                font-size: 14px;
                margin-bottom: 60px;
            }
        }

        .about-us {
            padding-top: 87px;
            .about-us__content__header {
                font-size: 35px;
                margin-bottom: 65px;
            }
            .about-us__content {
                .about-us__content__field {
                    padding-right: 127px;
                    .fiels__text {
                        font-size: 17px;
                        padding-left: 60px;
                        margin-bottom: 50px;  
                        &:nth-of-type(1) {
                            &::after {
                                width: 30px;
                                height: 28px;
                                top: -6px;
                                left: 4px;
                            }  
                        }
                        &:nth-of-type(2) {
                            &::after {
                                width: 25px;
                                height: 25px;
                                top: -4px;
                                left: 8px;
                            }  
                        } 
                        &:nth-of-type(3) {
                            &::after {
                                width: 22px;
                                height: 25px;
                                top: -3px;
                                left: 9px;
                            }  
                        } 
                        &::before {
                            width: 44px;
                            height: 44px;
                            top: -13px;
                            left: -2px;
                        }     
                    }
                    &::after {
                        width: 33px;
                        height: 240px;
                        top: -34px;
                        right: 51px;
                    }
                }
                .about-us__content__info {
                    max-width: 410px;  
                    .info__text {
                        font-size: 16px;
                    }
                }
                
            }
        }

        .numbers {
            &::before {
               display: none;
            }
            &::after {
                display: none;
            }
            .numbers__content {
                padding-top: 110px;
                .numbers__content__header {
                    font-size: 40px;
                    margin-bottom: 60px;
                }
                .numbers__content__companies {
                    margin-bottom: 70px;
                    .companies__persent {
                        width: 130px;
                        height: 130px;
                        margin-right: 59px;
                        &::after {
                            width: 27px;
                            height: 33px;
                            top: 15px;
                            right: -27px;
                        }
                        .companies__persent__text {
                            font-size: 32px;
                            padding-top: 42px;
                        }
                    }
                    .companies__ofc__text {
                        font-size: 17px;
                    }
                    .companies__ofc {
                        padding-top: 20px;
                        .companies__ofc__logo {
                            img {
                                margin-right: 45px;
                            }     
                            .logo__sams {
                                width: 110px;
                                height: 18px;
                            }
                            .logo__micros {
                                width: 123px;
                                height: 30px;
                            }
                            .logo__huawei {
                                width: 127px;
                                height: 28px;
                            }
                            .logo__abby {
                                width: 85px;
                                height: 21px;
                            }
                        }
                    }
                }
            }
    
            .numbers__content__statistic {
                display: flex;
                margin-bottom: 85px;
                .statistic__start {
                    width: 310px;
                    height: 238px;
                    &::after {
                        width: 27px;
                        height: 33px;
                        top: 39px;
                        right: -27px;
                    }
                 }
                .statistic__start__text {
                    max-width: 170px;
                    font-size: 14px;
                    padding-top: 54px; 
                    text-align: center;
                    span {
                        font-size: 60px;
                    }
                }
                .statistic__ofc {
                    padding-top: 20px;
                    .statistic__ofc__header {
                        font-size: 16px;
                        margin-bottom: 22px;
                    }
                    .statistic__ofc__text {
                        font-size: 14px;
                        margin-bottom: 30px;
                    }
                    .statistic__partners {
                        .statistic__partners__header {
                            font-size: 20px;
                            margin-bottom: 14px;
                        }
                        .statistic__partners__flag {
                            .flag__usa,
                            .flag__europe,
                            .flag__israel  {
                                width: 76px;
                                height: 51px;
                                margin-right: 25px;
                            }
                        }
                    }
                }
            }
            .numbers__content__facts {
                margin-bottom: 100px;
                .facts__header {
                    font-size: 35px;
                    margin-bottom: 40px;
                }
                .facts__text {
                    font-size: 20px;
                    margin-bottom: 35px;
                    padding-left: 40px;
                    &:last-of-type {
                        margin-bottom: 62px;
                    }
                    &::after {
                        width: 17px;
                        height: 20px;
                        top: 0;
                        left: 2px;
                    }
                }
                .facts__info {
                    font-size: 15px;
                }
            }
        }

        .join {
            &::after {
                width: 545px;
                height: 248px;
            }
            &::before {
                width: 545px;
                height: 248px;
            }
            
            .join__content {
                padding-top: 95px;
                padding-bottom: 85px;
            }
            .join__content__header {
                font-size: 40px;
                margin-bottom: 45px;
            }
            .join__content__text {
                max-width: 610px;
                font-size: 18px;
                margin-bottom: 47px;
            }
            .join__content__btn {
                max-width: 190px;
                height: 55px;
                font-size: 13px;
            }
        }

        .team {
            padding-top: 100px;
            &::before {
                display: none;
            }
            .team__header {
                font-size: 40px;
                margin-bottom: 61px;
            }
        }

        .partners {
            display: block;
            padding-top: 100px;
            margin-bottom: 110px;
            .partners__info {
                max-width: 350px;
                margin-right: 0;
                .partners__info__header {
                    font-size: 40px;
                    margin-bottom: 60px;
                }
                .partners__info__text {
                    display: none;
                }
            }
            .partners__logos {
                .partners__logos__items {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 60px;
                    &:last-of-type {
                        justify-content: inherit;
                        margin-bottom: 0;
                    }
                    .logos__items_gl-tech img {
                        width: 127px;
                        height: 38px;              
                    }
                    .logos__items_codeska img {
                        width: 150px;
                        height: 22px;                  
                    }
                    .logos__items_100 img {
                        width: 130px;
                        height: 45px;
                        padding-left: 6px;
                    }
                    .logos__items_fin-tech img{
                        width: 185px;
                        height: 22px;
                    }
                    .logos__items_ilawlab {
                        h2 {
                            line-height: 27px;
                            font-size: 27px;
                        }
                    }
                    .logos__items_patiole img{
                        width: 57px;
                        height: 57px;
                    }
                    .logos__items_pga img{
                        width: 60px;
                        height: 59px;
                    }
                }
            }
        }

        .contact-content {
            &::after {
                display: none;
            }
        }
        .contact {
            padding: 100px 0 100px 0;
            .contact__header {
                font-size: 40px;
                margin-bottom: 65px;
            }
            .contact__socials {
                .socials__email {
                    margin-right: 30px;
                    .email__input {
                        max-width: 243px;
                        height: 70px;
                        font-size: 16px;
                        padding-left: 24px;
                        padding-right: 30px;
                    }
                    .email__link {
                        width: 78px;
                        height: 70px;
                        img {
                            width: 22px;
                            height: 16px;
                            padding: 26px 28px;
                        }
                    }
                }
                .fb__link,
                .twit__link,
                .in__link,
                .telega__link {
                    width: 78px;
                    height: 70px;
                }
                .social__fb, 
                .social__twt,
                .social__in, 
                .social__telega {
                    width: 78px;
                    height: 70px;
                    img {
                        padding-top: 20px;                    
                    }
                    &:hover {   
                        &:after {
                            width: 25px;
                            height: 18px;
                            top: 24px;
                            left: 27px;
                        }
                    }
                }
                .social__fb {
                    margin-right: 30px;
                    img {
                        width: 12px;
                        height: 22px;
                    }
                }
                .social__twt {
                    margin-right: 30px;
                    img {
                        width: 21px;
                        height: 18px;
                    }
                }
                .social__in {
                    margin-right: 30px;
                    img {
                        width: 22px;
                        height: 21px;
                    }
                }
                .social__telega {
                    img {
                        width: 21px;
                        height: 19px;
                    }
                }
            }
        }

        .footer-content {
            &::after {
                width: 545px;
                height: 248px;
            }
            &::before {
                width: 545px;
                height: 248px;
            }
            .container {
                padding-top: 100px;
                padding-bottom: 92px;
            }
        }

        .navigation {
            max-width: 539px;
            .navigation__header {
                font-size: 36px;
                margin-bottom: 39px;
            }
            .present__menu {
                margin-bottom: 45px;
                .menu__list {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: normal;
                    align-items: center;
                    .menu__list__item {
                        margin-right: 28px;
                        font-size: 14px;
                        margin-bottom: 30px;
                    }
                }
            }
            .navigation__logos {
                max-width: 495px;
            }
           
            #mc_embed_signup_scroll {
                .mc-field-group {
                    .email__input {
                        padding-left: 25px;
                    } 
                }
                .clear {
                    width: 120px; 
                    height: 44px; 
                    position: absolute; 
                    top: 12px; 
                    right: 26px;
                    .button {
                        width: 120px; 
                        height: 44px; 
                        font-size: 15px; 
                    } 
                }
            }
            
            .navigation__input {
                max-width: 495px;
                .email__input {
                    max-width: 495px;
                    height: 71px;
                    font-size: 16px;
                    padding-right: 47px;
                    margin-bottom: 50px;
                }
            }
            
            .navigation__info {
                .info__policy {
                    margin-bottom: 45px;
                    a {
                        font-size: 14px;
                    }
                }
                .info__copy {
                    font-size: 14px;
                    margin-bottom: 20px;
                }
                .info__design {
                    font-size: 14px;
                }
            }
        }

        .news {
            max-width: 318px;
            margin-bottom: 60px;
            .news__header {
                font-size: 36px;
                margin-bottom: 39px;
            }
        }
    }
  }


  @media (min-width: 786px) and (max-width: 1199px)  {
    .wrapper {
        position: relative;
        .container {
            max-width: 725px;
            position: relative;
        }
        .welcome {
            height: 64px;
        }

        .present {
            display: flex;
            justify-content: space-between;
            .present__logo {
                display: flex;
                padding-right: 0;
                .logo__glob {
                    width: 91px;
                    height: 64px;
                }
                .logo__ukr__img {
                    width: 75px;
                    height: 35px;
                    padding-top: 15px;
                    padding-right: 17px;        
                }
                .logo__glob__img {
                    width: 75px;
                    height: 22px;
                    padding: 21px 0 0 8px;
                }
            }
            .view_menu {
                display: block;
                padding-top: 19px;
                svg {
                    width: 27px;
                    height: 20px;
                    fill: $main-white;
                }
            }
            .close_menu {
                display: none;
                float: right;
                padding-bottom: 42px;
                width: 24px;
                height: 24px;
                padding: 19px 14px 0 0;
                fill: $main-yellow;
            }
            .present__menu {
                display: none;
                position: absolute;
                z-index: 100;
                top: 0;
                right: 0;
                width: 40%;
                height: 554px;
                background-color: #1f2324;
                .menu__list {
                    padding-top: 90px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .menu__list__item {
                        max-width: 105px;
                        font-size: 18px;
                        list-style-type: none;
                        margin-right: 0;
                        margin-bottom: 58px;
                        text-align: center;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                        &:last-of-type {
                            display: none;
                        }
                    }
                }
            }
        }

        .tech-ukr {
            &::before {
                width: 320px;
                height: 213px;
            }
            &::after {
                width: 320px;
                height: 213px;
            }

            .tech-ukr__content {
                padding: 100px 0 70px;
            }
            .tech-ukr__content__header {
                font-size: 38px;
                margin-bottom: 32px;
            }
            .tech-ukr__content__text {
                font-size: 16px;
                margin-bottom: 37px;
            }
            .tech-ukr__content__btn {
                max-width: 170px;
                height: 55px;
                font-size: 14px;
                margin-bottom: 56px;
            }
        }

        .about-us {
            padding-top: 87px;
            .about-us__content__header {
                font-size: 35px;
                margin-bottom: 45px;
            }
            .about-us__content {
                .about-us__content__field {
                    padding-right: 127px;
                    .fiels__text {
                        font-size: 16px;
                        padding-left: 54px;
                        margin-bottom: 35px;
                        &:nth-of-type(1) {
                            &::after {
                                width: 28px;
                                height: 27px;
                                top: -5px;
                                left: 4px;
                            }  
                        }
                        &:nth-of-type(2) {
                            &::after {
                                width: 23px;
                                height: 23px;
                                top: -3px;
                                left: 7px;
                            }  
                        } 
                        &:nth-of-type(3) {
                            &::after {
                                width: 20px;
                                height: 22px;
                                top: -1px;
                                left: 8px;
                            }  
                        }
                        &::before {
                            width: 40px;
                            height: 40px;
                            top: -10px;
                            left: -2px;
                        } 
                    }
                    &::after {
                        width: 30px;
                        height: 200px;
                        top: -31px;
                        right: 51px;
                    }
                }
                .about-us__content__info {
                    max-width: 313px;  
                    .info__text {
                        font-size: 14px;
                    }
                }
                
            }
        }

        .numbers {
            &::before {
               display: none;
            }
            &::after {
                display: none;
            }
            .numbers__content {
                padding-top: 100px;
                .numbers__content__header {
                    font-size: 35px;
                    margin-bottom: 29px;
                }
                .numbers__content__companies {
                    margin-bottom: 65px;
                    .companies__persent {
                        width: 130px;
                        height: 130px;
                        margin-right: 59px;
                        &::after {
                            width: 27px;
                            height: 33px;
                            top: 15px;
                            right: -27px;
                        }
                        .companies__persent__text {
                            font-size: 32px;
                            padding-top: 42px;
                        }
                    }
                    .companies__ofc__text {
                        font-size: 16px;
                    }
                    .companies__ofc {
                        padding-top: 20px;
                        .companies__ofc__logo {
                            img {
                                margin-right: 25px;
                            }     
                            .logo__sams {
                                width: 103px;
                                height: 14px;
                            }
                            .logo__micros {
                                width: 111px;
                                height: 25px;
                            }
                            .logo__huawei {
                                width: 113px;
                                height: 24px;
                            }
                            .logo__abby {
                                width: 75px;
                                height: 16px;
                            }
                        }
                    }
                }
            }
    
            .numbers__content__statistic {
                display: flex;
                margin-bottom: 85px;
                .statistic__start {
                    width: 310px;
                    height: 231px;
                    &::after {
                        width: 27px;
                        height: 33px;
                        top: 39px;
                        right: -27px;
                    }
                 }
                .statistic__start__text {
                    max-width: 170px;
                    font-size: 14px;
                    padding-top: 50px; 
                    text-align: center;
                    span {
                        font-size: 60px;
                    }
                }
                .statistic__ofc {
                    padding-top: 20px;
                    .statistic__ofc__header {
                        font-size: 14px;
                        margin-bottom: 22px;
                    }
                    .statistic__ofc__text {
                        font-size: 14px;
                        margin-bottom: 25px;
                    }
                    .statistic__partners {
                        .statistic__partners__header {
                            font-size: 18px;
                            margin-bottom: 14px;
                        }
                        .statistic__partners__flag {
                            .flag__usa,
                            .flag__europe,
                            .flag__israel  {
                                width: 65px;
                                height: 45px;
                                margin-right: 22px;
                            }
                        }
                    }
                }
            }
            .numbers__content__facts {
                margin-bottom: 90px;
                .facts__header {
                    font-size: 30px;
                    margin-bottom: 31px;
                }
                .facts__text {
                    font-size: 16px;
                    margin-bottom: 28px;
                    padding-left: 25px;
                    &:last-of-type {
                        margin-bottom: 62px;
                    }
                    &::after {
                        width: 14px;
                        height: 16px;
                        top: 1px;
                        left: 2px;
                    }
                }
                .facts__info {
                    font-size: 14px;
                }
            }
        }

        .join {
            &::after {
                width: 320px;
                height: 213px;
            }
            &::before {
                width: 320px;
                height: 213px;
            }
            .join__content {
                padding: 90px 0 0 0;
            }
            .join__content__header {
                font-size: 35px;
                margin-bottom: 35px;
            }
            .join__content__text {
                max-width: 610px;
                font-size: 16px;
                margin-bottom: 42px;
            }
            .join__content__btn {
                max-width: 160px;
                height: 50px;
                font-size: 12.5px;
                margin-bottom: 70px;
            }
        }

        .team {
            padding-top: 90px;
            &::before {
                display: none;
            }
            .team__header {
                font-size: 35px;
                margin-bottom: 59px;
            }
            .team__worker {
                .team__worker__item {
                    max-width: 290px;
                    margin: 0 40px 40px 0;
                }
                .worker__item__tla {
                    padding-top: 41px;
                    padding-bottom: 39px;
                    .tla__avatar {
                        width: 116px;
                        height: 117px;
                    }
                    .tla__name {
                        font-size: 17px;
                    }
                    .tla__post {
                        font-size: 16px;
                    }
                    .tla__in {
                        img {
                            width: 23px;
                            height: 23px;
                        }
                    }
                }
            }
        }

        .partners {
            display: block;
            padding-top: 100px;
            margin-bottom: 110px;
            .partners__info {
                margin-right: 0;
                .partners__info__header {
                    font-size: 35px;
                    margin-bottom: 60px;
                }
                .partners__info__text {
                    display: none;
                }
            }
            .partners__logos {
                .partners__logos__items {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 60px;
                    &:last-of-type {
                        justify-content: inherit;
                        margin-bottom: 0;
                    }
                    
                    .logos__items_gl-tech img {
                        width: 127px;
                        height: 38px;              
                    }
                    .logos__items_codeska img {
                        width: 150px;
                        height: 22px;                  
                    }
                    .logos__items_100 img {
                        width: 130px;
                        height: 45px;
                        padding-left: 6px;
                    }
                    .logos__items_fin-tech img{
                        width: 185px;
                        height: 22px;
                    }
                    .logos__items_ilawlab {
                        h2 {
                            line-height: 26px;
                            font-size: 26px;
                        }
                    }
                    .logos__items_patiole img{
                        width: 57px;
                        height: 57px;
                    }
                    .logos__items_pga img{
                        width: 64px;
                        height: 60px;
                    }
                }
            }
        }

        .contact-content {
            &::after {
                display: none;
            }
        }
        .contact {
            padding: 100px 0 100px 0;
            .contact__header {
                font-size: 35px;
                margin-bottom: 60px;
            }
            .contact__socials {
                .socials__email {
                    margin-right: 30px;
                    .email__input {
                        max-width: 235px;
                        height: 65px;
                        font-size: 16px;
                        padding-left: 22px;
                        padding-right: 28px;
                    }
                    .email__link {
                        width: 73px;
                        height: 65px;
                        img {
                            width: 19px;
                            height: 15px;
                            padding: 20px 27px;
                        }
                    }
                }
                .fb__link,
                .twit__link,
                .in__link,
                .telega__link {
                    width: 73px;
                    height: 65px;
                }
                .social__fb, 
                .social__twt,
                .social__in, 
                .social__telega {
                    width: 73px;
                    height: 65px;
                    img {
                        padding-top: 20px;                    
                    }
                    &:hover {   
                        &:after {
                            width: 23px;
                            height: 15px;
                            top: 24px;
                            left: 24px;
                        }
                    }
                }
                .social__fb {
                    margin-right: 21px;
                    img {
                        width: 9px;
                        height: 18px;
                    }
                }
                .social__twt {
                    margin-right: 20px;
                    img {
                        width: 18px;
                        height: 14px;
                    }
                }
                .social__in {
                    margin-right: 21px;
                    img {
                        width: 17px;
                        height: 17px;
                    }
                }
                .social__telega {
                    img {
                        width: 18px;
                        height: 16px;
                    }
                }
            }
        }

        .footer-content {
            &::after {
                display: none;
            }
            .container {
                padding-top: 81px;
                padding-bottom: 89px;
            }
        }

        .navigation {
            max-width: 343px;
            .navigation__header {
                font-size: 32px;
                margin-bottom: 35px;
            }
            .present__menu {
                margin-bottom: 34px;
                .menu__list {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: normal;
                    align-items: center;
                    .menu__list__item {
                        font-size: 14px;
                        margin-bottom: 30px;
                    }
                }
            }
            .navigation__logos {
                max-width: 330px;
                    img {
                        margin-right: 26px;
                }
            }
            #mc_embed_signup_scroll {
                .mc-field-group {
                    .email__input {
                        padding-left: 5px;
                    } 
                }
                .clear {
                    width: 80px; 
                    height: 35px; 
                    position: absolute; 
                    top: 13px; 
                    right: 7px;
                    .button {
                        width: 80px; 
                        height: 35px; 
                        font-size: 11.5px; 
                        padding: 0 7px;
                    } 
                }
            }
            .navigation__input {
                max-width: 307px;
                .email__input {
                    max-width: 307px;
                    height: 61px;
                    font-size: 15px;
                    margin-bottom: 50px;
                }
            }
            
            .navigation__info {
                .info__policy {
                    margin-bottom: 30px;
                    a {
                        font-size: 14px;
                    }
                }
                .info__copy {
                    font-size: 13px;
                    margin-bottom: 20px;
                }
                .info__design {
                    font-size: 13px;
                }
            }
        }

        .news {
            max-width: 289px;
            margin-bottom: 60px;
            .news__header {
                font-size: 32px;
                margin-bottom: 39px;
            }
        }
    }
}


  @media screen and (max-width: 768px) {
    .wrapper {
    .container {
        max-width: 600px;
        position: relative;
    }
    .welcome {
        height: 64px;
    }

    .present {
        display: flex;
        justify-content: space-between;
        .present__logo {
            display: flex;
            padding-right: 0;
            padding-left: 15px;
            .logo__glob {
                width: 91px;
                height: 64px;
            }
            .logo__ukr__img {
                width: 75px;
                height: 35px;
                padding-top: 15px;
                padding-right: 17px;        
            }
            .logo__glob__img {
                width: 75px;
                height: 22px;
                padding: 21px 0 0 8px;
            }
        }
        .view_menu {
            display: block;
            padding: 19px 15px 0 0;
            svg {
                width: 27px;
                height: 20px;
                fill: $main-white;
            }
        }
        .close_menu {
            display: none;
            width: 24px;
            height: 24px;
            padding-top: 19px;
            fill: $main-yellow;
            padding-left: 176px;
        }
        .present__menu {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
            width: 100%;
            max-width: 215px;
            height: 526px;
            background-color: #1f2324;
            .menu__list {
                padding-top: 42px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .menu__list__item {
                    max-width: 105px;
                    font-size: 18px;
                    list-style-type: none;
                    margin-right: 0;
                    margin-bottom: 58px;
                    text-align: center;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                    &:last-of-type {
                        display: none;
                    }
                }
            }
        }
    }

    .tech-ukr {
        &::before {
            display: none;
        }
        &::after {
            width: 320px;
            height: 213px;
        }

        .tech-ukr__content {
            padding: 60px 15px 37px 15px;
        }
        .tech-ukr__content__header {
            max-width: 288px;
            font-size: 30px;
            margin-bottom: 28px;
        }
        .tech-ukr__content__text {
            max-width: 228px;
            font-size: 14px;
            margin-bottom: 37px;
        }
        .tech-ukr__content__btn {
            max-width: 160px;
            height: 50px;
            font-size: 12.5px;
            margin-bottom: 56px;
        }
        .tech-ukr__content__info {
            max-width: 292px;
            .content__link {
                display: inline;
            }
        }   
    }

    .about-us {
        padding: 62px 15px 0 15px;

        .about-us__content__header {
            font-size: 30px;
            margin-bottom: 30px;
            text-align: center;
        }
        .about-us__content {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .about-us__content__field {
                position: relative;    
                padding-right: 0;
                margin-bottom: 50px;
                .fiels__text {
                    font-size: 14px;
                    margin-bottom: 29px; 
                    &:nth-of-type(1) {
                        &::after {
                            width: 25px;
                            height: 24px;
                            top: -1px;
                            left: 4px;
                        }  
                    }
                    &:nth-of-type(2) {
                        &::after {
                            width: 20px;
                            height: 20px;
                            top: 1px;
                            left: 7px;
                        }  
                    } 
                    &:nth-of-type(3) {
                        &::after {
                            width: 18px;
                            height: 20px;
                            top: 2px;
                            left: 8px;
                        }  
                    }
                    &::before {
                        width: 35px;
                        height: 35px;
                        top: -6px;
                        left: -1px;
                    }                                                       
                }
                &::after {
                    width: 27px;
                    height: 156px;
                    top: -24px;
                    right: -51px;
                }
            }
            .about-us__content__info {
                padding-right: 25px;
                    max-width: 300px; 
                    .info__text {
                        font-size: 12.5px;
                    } 
                    
            }
        }
    }

    .numbers {
        &::before {
            display: none;
        }
        &::after {
            display: none;
        }
        .numbers__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            padding-top: 59px;
            .numbers__content__header {
                max-width: 291px;
                font-size: 29px;
                margin-bottom: 29px;
            }
            .numbers__content__companies {
                display: flex;
                flex-direction: column;
                margin-bottom: 58px;
                .companies__persent {
                    width: 107px;
                    height: 107px;
                    margin-right: 21px;
                    margin-bottom: 39px;
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        background: url("../images/triangle_yellow_bottom.png") bottom no-repeat;
                        width: 26px;
                        height: 21px;
                        top: 107px;
                        left: 12px;
                        }
                    .companies__persent__text {
                        font-size: 29.5px;
                        padding-top: 42px;
                    }
                }
                .companies__ofc__text {
                    max-width: 246px;
                    font-size: 14px;
                    line-height: 18px;
                    margin-bottom: 0;
                }
                .companies__ofc {
                    padding-top: 0;
                    display: flex;
                    flex-direction: column-reverse;
                    .companies__ofc__logo {
                        display: flex;   
                        flex-direction: column;
                        align-items: baseline;
                        position: absolute;
                        top: 121px;
                        right: 70px;
                                
                        img {
                            margin-right: 0;
                            margin-bottom: 17px;
                            &:last-of-type {
                                margin-bottom: 0;
                            }
                        }     
                        .logo__sams {
                            width: 69px;
                            height: 11px;
                        }
                        .logo__micros {
                            width: 74px;
                            height: 16px;
                        }
                        .logo__huawei {
                            width: 75px;
                            height: 16px;
                        }
                        .logo__abby {
                            width: 44px;
                            height: 13px;
                        }
                    }
                }
            }
        }

        .numbers__content__statistic {
            display: flex;
            flex-direction: column;
            margin-bottom: 55px;
            .statistic__start {
                width: 290px;
                height: 214px;
                margin-right: 0;
                position: relative;
                &::after {
                    display: none;
                }
                &::before {
                    content: '';
                    position: absolute;
                    background: url("../images/triangle_yellow_bottom.png") bottom no-repeat;
                    width: 26px;
                    height: 21px;
                    bottom: -21px;
                    left: 22px;
                }
                }
            .statistic__start__text {
                max-width: 170px;
                font-size: 14px;
                padding-top: 48px; 
                text-align: center;
                span {
                    font-size: 60px;
                }
            }
            .statistic__ofc {
                padding-top: 40px;
                .statistic__ofc__header {
                    max-width: 261px;
                    font-size: 14px;
                    margin-bottom: 26px;
                }
                .statistic__ofc__text {
                    max-width: 278px;
                    font-size: 14px;
                    margin-bottom: 56px;
                }
                .statistic__partners {
                    .statistic__partners__header {
                        font-size: 18px;
                        margin-bottom: 27px;
                    }
                    .statistic__partners__flag {
                        display: flex;
                        .flag__usa,
                        .flag__europe,
                        .flag__israel  {
                            width: 67px;
                            height: 43px;
                            margin-right: 22px;
                            &:last-of-type {
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }
        .numbers__content__facts {
            max-width: 305px;
            margin-bottom: 24px;
            padding-right: 15px;
            padding-left: 15px;
            .facts__header {
                font-size: 24px;
                margin-bottom: 29px;
            }
            .facts__text {
                font-size: 14px;
                margin-bottom: 26px;
                padding-left: 15px;
                position: relative;
                &:last-of-type {
                    margin-bottom: 59px;
                }
                &::after {
                    width: 11px;
                    height: 13px;
                    top: 1px;
                    left: 2px;
                }
            }
            .facts__info {
                max-width: 240px;
                font-size: 12px;
                .info__link {
                    display: block;
                }
            }
        }
    }

    .join {
        &::after {
           display: none;
        }
        &::before {
            background-size: cover;
            width: 320px;
            height: 213px;
        }
        .join__content {
            padding: 58px 15px 0 15px;
        }
        .join__content__header {
            font-size: 30px;
            max-width: 190px;
            margin-bottom: 29px;
        }
        .join__content__text {
            max-width: 279px;
            font-size: 14px;
            margin-bottom: 38px;
        }
        .join__content__btn {
            max-width: 160px;
            height: 50px;
            font-size: 12.5px;
            margin-bottom: 59px;
        }
    }

    .team {
        padding-top: 62px;
        &::before {
            display: none;
        }
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .team__header {
            font-size: 30px;
            max-width: 190px;
            margin-bottom: 39px;
        }
        .team__worker {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;

            .team__worker__item {
                max-width: 290px;
                box-sizing: border-box;
                background-color: #fafafa;
                text-align: center;
                margin: 0 0 29px 0;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
            .worker__item__tla {
                padding-top: 41px;
                padding-bottom: 39px;
                .tla__avatar {
                    width: 116px;
                    height: 117px;
                    margin-bottom: 28px;
                }
                .tla__name {
                    font-size: 16.5px;
                }
                .tla__post {
                    font-size: 15.5px;
                }
                .tla__in {
                    img {
                        width: 23px;
                        height: 23px;
                    }
                }
            }
        }
    }
    
    .partners {
        display: block;
        padding: 60px 15px 0 15px;
        margin-bottom: 77px;
        .partners__info {
            margin-right: 0;
            .partners__info__header {
                max-width: 194px;
                font-size: 30px;
                margin-bottom: 39px;
            }
            .partners__info__text {
                display: none;
            }
        }
        .partners__logos {
            position: relative;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            a {
                display: block;
            }
            .partners__logos__items {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: end;
                margin-bottom: 0px;
                &:last-of-type {
                    justify-content: end;
                }
                .logos__items_gl-tech img {
                    width: 127px;
                    height: 38px;   
                    margin-right: 20px;    
                    margin-bottom: 35px;       
                }
                .logos__items_codeska img {
                    width: 126px;
                    height: 22px;     
                    margin-right: 20px;   
                    margin-bottom: 35px;           
                }
                .logos__items_100 img {
                    width: 130px;
                    height: 45px;
                    padding-left: 0;
                    margin-bottom: 35px;   
                    margin-right: 20px;
                }
                .logos__items_fin-tech img{
                    width: 185px;
                    height: 22px;
                    margin-right: 23px;
                    margin-bottom: 35px;   
                }
                .logos__items_ilawlab {
                    h2 {
                        line-height: 27px;
                        font-size: 27px;
                        margin-bottom: 35px;   
                    }
                }
                .logos__items_patiole img{
                    width: 57px;
                    height: 57px;
                    margin-right: 20px; 
                    margin-bottom: 35px;   
                }
                .logos__items_pga img{
                    width: 60px;
                    height: 56px;
                    margin-bottom: 35px;   
                }
            }
        }
    }

    .contact-content {
        &::after {
          display: none;
        }
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .contact {
        padding: 60px 15px 78px 15px;
        .contact__header {
            font-size: 30px;
            margin-bottom: 40px;
        }
        .contact__socials {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            .socials__email {
                margin-right: 0;
                margin-bottom: 30px;
                .email__input {
                    max-width: 212px;
                    height: 55px;
                    font-size: 14px;
                    padding-left: 19px;
                    padding-right: 26px;
                }
                .email__link {
                    width: 73px;
                    height: 55px;
                    img {
                        width: 19px;
                        height: 15px;
                        padding: 20px 27px;
                    }
                }
            }
            .fb__link,
            .twit__link,
            .in__link,
            .telega__link {
                width: 57px;
                height: 55px;
            }
            .social__fb, 
            .social__twt,
            .social__in, 
            .social__telega {
                width: 57px;
                height: 55px;
                img {
                    padding-top: 20px;                    
                }
                &:hover {   
                    &:after {
                        width: 22px;
                        height: 14px;
                        top: 20px;
                        left: 16px;
                    }
                }
            }
            .social__fb {
                margin-right: 21px;
                img {
                    width: 9px;
                    height: 18px;
                }
            }
            .social__twt {
                margin-right: 20px;
                img {
                    width: 18px;
                    height: 14px;
                }
            }
            .social__in {
                margin-right: 21px;
                img {
                    width: 17px;
                    height: 17px;
                }
            }
            .social__telega {
                img {
                    width: 18px;
                    height: 16px;
                }
            }
        }
    }

    .footer-content {
        &::after {
          display: none;
        }
        &::before {
            display: none;
        }
        .container {
            display: flex;
            flex-direction: column-reverse;
            padding-top: 61px;
            padding-bottom: 59px;
        }
    }

    .navigation {
        padding: 0 15px 0 15px;
        max-width: 593px;
        .navigation__header {
            font-size: 30px;
            margin-bottom: 35px;
        }
        .present__menu {
            margin-bottom: 34px;
            .menu__list {
                display: flex;
                flex-wrap: wrap;
                justify-content: normal;
                align-items: center;
                .menu__list__item {
                    font-size: 14px;
                    margin-right: 30px;
                    margin-bottom: 30px;
                    &:last-of-type {
                        margin-right: 0;
                    }
                }
            }
        }

        .navigation__logos {
            display: flex;
            justify-content: space-around;
                img {
                    &:last-of-type {
                        margin-right: 32px;
                    }
            }
        }
        #mc_embed_signup_scroll {
            .mc-field-group {
                .email__input {
                    padding-left: 5px;
                } 
            }
            .clear {
                width: 80px; 
                height: 35px; 
                position: absolute; 
                top: 9px; 
                right: 7px;
                .button {
                    width: 80px; 
                    height: 35px; 
                    font-size: 11.5px; 
                    padding: 0 7px;
                } 
            }
        }
        .navigation__input {
            position: relative;
            max-width: 290px;
            .email__input {
                max-width: 290px;
                height: 55px;
                font-size: 14px;
                padding-right: 47px;
                margin-bottom: 59px;
            }
        }
        .navigation__info {
            .info__policy {
                margin-bottom: 40px;
                a {
                    font-size: 14px;
                }
            }
            .info__copy {
                width: 80%;
                font-size: 12px;
                margin-bottom: 10px;
            }
            .info__design {
                font-size: 12px;
            }
        }
    }

    .news {
        margin: 0 auto;
        padding: 0 18px 0 18px;
        max-width: 289px;
        margin-bottom: 60px;
        .news__header {
            font-size: 30px;
            max-width: 185px;
            margin-bottom: 39px;
        }
    }

}
    
}


  