@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro.eot");
  src: url("../fonts/GothamPro.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProBold";
  src: url("../fonts/GothamPro-Bold.eot");
  src: url("../fonts/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProMedium";
  src: url("../fonts/GothamPro-Medium.eot");
  src: url("../fonts/GothamPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SumacRegular";
  src: url("../fonts/SumacRegular.otf");
  font-style: normal;
  font-weight: normal;
}

* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  width: 100%;
  font-family: 'GothamPro', sans-serif;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.wrapper {
  width: 100%;
  max-width: 1900px;
  height: 100%;
  margin: 0 auto;
}

.wrapper .container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.wrapper .welcome {
  width: 100%;
  height: 107px;
  background-color: #181c1d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .present {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .present .present__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 52px;
}

.wrapper .present .present__logo .logo__glob {
  width: 209px;
  height: 107px;
  background-color: #ffffff;
}

.wrapper .present .present__logo .logo__ukr__img {
  width: 141px;
  height: 68px;
  padding-top: 19px;
  padding-right: 68px;
}

.wrapper .present .present__logo .logo__glob__img {
  width: 140px;
  height: 41px;
  padding: 33px 0 0 34px;
}

.wrapper .present .view_menu {
  display: none;
}

.wrapper .present .close_menu {
  display: none;
}

.wrapper .present .present__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .present .present__menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .present .present__menu .menu__list .menu__list__item {
  font-size: 14px;
  list-style-type: none;
  margin-right: 40px;
}

.wrapper .present .present__menu .menu__list .menu__list__item:last-of-type {
  margin-right: 0;
}

.wrapper .present .present__menu .menu__list .menu__list__item .item__link {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.wrapper .present .present__menu .menu__list .menu__list__item .item__link:hover {
  text-decoration: none;
  color: #fbd525;
}

.wrapper .tech-ukr {
  width: 100%;
  background: url("../images/present-bg.jpg") center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.wrapper .tech-ukr::before {
  content: '';
  position: absolute;
  background: url("../images/patterns/pres-pattern-left.png") left no-repeat;
  background-size: contain;
  width: 959px;
  height: 432px;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wrapper .tech-ukr::after {
  content: '';
  position: absolute;
  background: url("../images/patterns/pres-pattern-right.png") right no-repeat;
  background-size: contain;
  width: 959px;
  height: 432px;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.wrapper .tech-ukr .tech-ukr__content {
  padding: 277px 0 102px;
}

.wrapper .tech-ukr .tech-ukr__content__header {
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  font-family: 'GothamProBold', sans-serif;
  width: 100%;
  max-width: 980px;
  margin-bottom: 59px;
}

.wrapper .tech-ukr .tech-ukr__content__header span {
  color: #fbd525;
}

.wrapper .tech-ukr .tech-ukr__content__text {
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  line-height: 30px;
  letter-spacing: normal;
  color: #ffffff;
  width: 100%;
  max-width: 536px;
  text-shadow: 0px 1px 4px rgba(24, 28, 29, 0.15);
  margin-bottom: 56px;
}

.wrapper .tech-ukr .tech-ukr__content__text span {
  color: #fbd525;
}

.wrapper .tech-ukr .tech-ukr__content__btn {
  width: 100%;
  max-width: 240px;
  height: 65px;
  background-color: #fbd525;
  color: #181c1d;
  text-shadow: 0px 2px 2.4px rgba(24, 28, 29, 0.1);
  -webkit-box-shadow: 0px 3px 9px 1px rgba(251, 213, 37, 0.15);
          box-shadow: 0px 3px 9px 1px rgba(251, 213, 37, 0.15);
  font-family: 'GothamProBold', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 30px;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  margin-bottom: 168px;
}

.wrapper .tech-ukr .tech-ukr__content__btn:focus {
  outline: none;
}

.wrapper .tech-ukr .tech-ukr__content__info {
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  line-height: 30px;
  letter-spacing: normal;
  color: #ffffff;
  width: 100%;
  max-width: 302px;
  font-size: 12px;
  line-height: 18px;
}

.wrapper .tech-ukr .tech-ukr__content__info span {
  color: #fbd525;
}

.wrapper .tech-ukr .tech-ukr__content__info .content__link {
  display: block;
  color: #ffffff;
  font-family: 'GothamProBold', sans-serif;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.wrapper .about-us {
  width: 100%;
  padding-top: 137px;
}

.wrapper .about-us .about-us__content__header {
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  font-family: 'GothamProBold', sans-serif;
  color: #181c1d;
  margin-bottom: 99px;
}

.wrapper .about-us .about-us__content__header span {
  color: #fbd525;
}

.wrapper .about-us .about-us__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .about-us .about-us__content .about-us__content__field {
  position: relative;
  padding-right: 176px;
}

.wrapper .about-us .about-us__content .about-us__content__field .fiels__text {
  position: relative;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  line-height: 30px;
  letter-spacing: normal;
  color: #ffffff;
  font-size: 24px;
  color: #181c1d;
  line-height: 18px;
  padding-left: 94px;
  margin-bottom: 80px;
}

.wrapper .about-us .about-us__content .about-us__content__field .fiels__text span {
  color: #fbd525;
}

.wrapper .about-us .about-us__content .about-us__content__field .fiels__text:last-of-type {
  margin-bottom: 0;
}

.wrapper .about-us .about-us__content .about-us__content__field .fiels__text:nth-of-type(1)::after {
  display: block;
  content: '';
  position: absolute;
  background: url("../images/collaboration.svg");
  background-size: cover;
  width: 39px;
  height: 36px;
  top: -9px;
  left: 15px;
}

.wrapper .about-us .about-us__content .about-us__content__field .fiels__text:nth-of-type(2)::after {
  display: block;
  content: '';
  position: absolute;
  background: url("../images/meeting.svg");
  background-size: cover;
  width: 33px;
  height: 33px;
  top: -8px;
  left: 19px;
}

.wrapper .about-us .about-us__content .about-us__content__field .fiels__text:nth-of-type(3)::after {
  display: block;
  content: '';
  position: absolute;
  background: url("../images/search.svg");
  background-size: cover;
  width: 30px;
  height: 33px;
  top: -7px;
  left: 19px;
}

.wrapper .about-us .about-us__content .about-us__content__field .fiels__text::before {
  content: '';
  position: absolute;
  background: #181c1d;
  width: 60px;
  height: 60px;
  top: -20px;
  left: 5px;
}

.wrapper .about-us .about-us__content .about-us__content__field::after {
  content: '';
  position: absolute;
  background: url("../images/bracket.png") no-repeat;
  background-size: contain;
  width: 49px;
  height: 296px;
  top: -44px;
  right: 81px;
}

.wrapper .about-us .about-us__content .about-us__content__info {
  width: 100%;
  max-width: 478px;
}

.wrapper .about-us .about-us__content .about-us__content__info .info__text {
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  line-height: 30px;
  letter-spacing: normal;
  color: #ffffff;
  font-size: 20px;
  color: #181c1d;
}

.wrapper .about-us .about-us__content .about-us__content__info .info__text span {
  color: #fbd525;
}

.wrapper .about-us .about-us__content .about-us__content__info .info__text span {
  color: #181c1d;
  font-family: 'GothamProBold', sans-serif;
}

.wrapper .numbers {
  width: 100%;
  position: relative;
}

.wrapper .numbers::before {
  content: '';
  position: absolute;
  background: url("../images/patterns/page-pattern-left.png") left no-repeat;
  background-size: cover;
  width: 118px;
  height: 915px;
  top: 61px;
  left: 0;
}

.wrapper .numbers::after {
  content: '';
  position: absolute;
  background: url("../images/patterns/page-pattern-right.png") right no-repeat;
  background-size: cover;
  width: 91px;
  height: 1872px;
  top: 770px;
  right: 0;
}

.wrapper .numbers .numbers__content {
  padding-top: 137px;
  width: 100%;
}

.wrapper .numbers .numbers__content .numbers__content__header {
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  font-family: 'GothamProBold', sans-serif;
  margin-bottom: 79px;
  color: #181c1d;
}

.wrapper .numbers .numbers__content .numbers__content__header span {
  color: #fbd525;
}

.wrapper .numbers .numbers__content .numbers__content__companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
}

.wrapper .numbers .numbers__content .numbers__content__companies .companies__persent {
  width: 165px;
  height: 165px;
  background-color: #181c1d;
  margin-right: 59px;
  text-align: center;
  position: relative;
}

.wrapper .numbers .numbers__content .numbers__content__companies .companies__persent::after {
  content: '';
  position: absolute;
  background: url("../images/triangle-yellow.png") right no-repeat;
  width: 31px;
  height: 39px;
  top: 20px;
  right: -31px;
}

.wrapper .numbers .numbers__content .numbers__content__companies .companies__persent .companies__persent__text {
  font-size: 52px;
  font-family: 'GothamProBold', sans-serif;
  color: #ffffff;
  padding-top: 52px;
}

.wrapper .numbers .numbers__content .numbers__content__companies .companies__ofc__text {
  width: 100%;
  max-width: 318px;
  color: #181c1d;
  font-family: 'GothamProBold', sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 38px;
}

.wrapper .numbers .numbers__content .numbers__content__companies .companies__ofc .companies__ofc__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .numbers .numbers__content .numbers__content__companies .companies__ofc .companies__ofc__logo img {
  margin-right: 59px;
}

.wrapper .numbers .numbers__content .numbers__content__companies .companies__ofc .companies__ofc__logo img:last-of-type {
  margin-right: 0;
}

.wrapper .numbers .numbers__content .numbers__content__companies .companies__ofc .companies__ofc__logo .logo__sams {
  width: 150px;
  height: 23px;
}

.wrapper .numbers .numbers__content .numbers__content__companies .companies__ofc .companies__ofc__logo .logo__micros {
  width: 171px;
  height: 37px;
}

.wrapper .numbers .numbers__content .numbers__content__companies .companies__ofc .companies__ofc__logo .logo__huawei {
  width: 183px;
  height: 40px;
}

.wrapper .numbers .numbers__content .numbers__content__companies .companies__ofc .companies__ofc__logo .logo__abby {
  width: 91px;
  height: 27px;
}

.wrapper .numbers .numbers__content__statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 99px;
}

.wrapper .numbers .numbers__content__statistic .statistic__start {
  width: 330px;
  height: 330px;
  background-color: #181c1d;
  margin-right: 60px;
  position: relative;
}

.wrapper .numbers .numbers__content__statistic .statistic__start::after {
  content: '';
  position: absolute;
  background: url("../images/triangle-yellow.png") right no-repeat;
  width: 31px;
  height: 39px;
  top: 51px;
  right: -31px;
}

.wrapper .numbers .numbers__content__statistic .statistic__start__text {
  width: 100%;
  max-width: 215px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  padding-top: 81px;
  margin: auto;
}

.wrapper .numbers .numbers__content__statistic .statistic__start__text span {
  font-size: 100px;
  font-family: 'GothamProBold', sans-serif;
  color: #ffffff;
}

.wrapper .numbers .numbers__content__statistic .statistic__ofc {
  padding-top: 50px;
}

.wrapper .numbers .numbers__content__statistic .statistic__ofc .statistic__ofc__header {
  width: 100%;
  max-width: 389px;
  font-size: 18px;
  font-weight: 500;
  font-family: 'GothamProBold', sans-serif;
  margin-bottom: 27px;
}

.wrapper .numbers .numbers__content__statistic .statistic__ofc .statistic__ofc__text {
  width: 100%;
  max-width: 608px;
  font-size: 16px;
  margin-bottom: 34px;
}

.wrapper .numbers .numbers__content__statistic .statistic__ofc .statistic__partners .statistic__partners__header {
  width: 100%;
  font-size: 24px;
  font-family: 'GothamProBold', sans-serif;
  margin-bottom: 18px;
}

.wrapper .numbers .numbers__content__statistic .statistic__ofc .statistic__partners .statistic__partners__flag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .numbers .numbers__content__statistic .statistic__ofc .statistic__partners .statistic__partners__flag .flag__usa,
.wrapper .numbers .numbers__content__statistic .statistic__ofc .statistic__partners .statistic__partners__flag .flag__europe,
.wrapper .numbers .numbers__content__statistic .statistic__ofc .statistic__partners .statistic__partners__flag .flag__israel {
  width: 120px;
  height: 76px;
  margin-right: 32px;
}

.wrapper .numbers .numbers__content__statistic .statistic__ofc .statistic__partners .statistic__partners__flag .flag__usa:last-of-type,
.wrapper .numbers .numbers__content__statistic .statistic__ofc .statistic__partners .statistic__partners__flag .flag__europe:last-of-type,
.wrapper .numbers .numbers__content__statistic .statistic__ofc .statistic__partners .statistic__partners__flag .flag__israel:last-of-type {
  margin-right: 0;
}

.wrapper .numbers .numbers__content__facts {
  width: 100%;
  margin-bottom: 139px;
}

.wrapper .numbers .numbers__content__facts .facts__header {
  width: 100%;
  font-size: 48px;
  font-family: 'GothamProBold', sans-serif;
  margin-bottom: 60px;
}

.wrapper .numbers .numbers__content__facts .facts__text {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 45px;
  padding-left: 49px;
  position: relative;
}

.wrapper .numbers .numbers__content__facts .facts__text span {
  font-family: 'GothamProBold', sans-serif;
}

.wrapper .numbers .numbers__content__facts .facts__text:last-of-type {
  margin-bottom: 64px;
}

.wrapper .numbers .numbers__content__facts .facts__text::after {
  content: '';
  position: absolute;
  background: url("../images/triangle-yellow.png") right no-repeat;
  width: 20px;
  height: 24px;
  top: 0;
  left: 3px;
}

.wrapper .numbers .numbers__content__facts .facts__info {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
}

.wrapper .numbers .numbers__content__facts .facts__info .info__link {
  font-family: 'GothamProBold', sans-serif;
  color: #181c1d;
  text-decoration: none;
  border-bottom: 1px solid rgba(24, 28, 29, 0.1);
}

.wrapper .join {
  width: 100%;
  background: url("../images/conference-bg.png") no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.wrapper .join::after {
  content: '';
  position: absolute;
  background: url("../images/patterns/pres-pattern-left.png") left no-repeat;
  background-size: contain;
  width: 959px;
  height: 432px;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wrapper .join::before {
  content: '';
  position: absolute;
  background: url("../images/patterns/pres-pattern-right.png") right no-repeat;
  background-size: contain;
  width: 959px;
  height: 432px;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.wrapper .join .join__content {
  padding: 136px 0 140px 0;
}

.wrapper .join .join__content__header {
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  font-family: 'GothamProBold', sans-serif;
  width: 100%;
  margin-bottom: 61px;
}

.wrapper .join .join__content__header span {
  color: #fbd525;
}

.wrapper .join .join__content__text {
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  line-height: 30px;
  letter-spacing: normal;
  color: #ffffff;
  width: 100%;
  max-width: 760px;
  font-size: 20px;
  margin-bottom: 56px;
}

.wrapper .join .join__content__text span {
  color: #fbd525;
}

.wrapper .join .join__content__btn {
  width: 100%;
  max-width: 240px;
  height: 65px;
  background-color: #fbd525;
  color: #181c1d;
  text-shadow: 0px 2px 2.4px rgba(24, 28, 29, 0.1);
  -webkit-box-shadow: 0px 3px 9px 1px rgba(251, 213, 37, 0.15);
          box-shadow: 0px 3px 9px 1px rgba(251, 213, 37, 0.15);
  font-family: 'GothamProBold', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 30px;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

.wrapper .join .join__content__btn:focus {
  outline: none;
}

.wrapper .team {
  width: 100%;
  padding-top: 140px;
  position: relative;
}

.wrapper .team::before {
  content: '';
  position: absolute;
  background: url("../images/patterns/square-pattern-left.png") left no-repeat;
  background-size: cover;
  width: 130px;
  height: 207px;
  top: 640px;
  left: 0;
}

.wrapper .team .team__header {
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  font-family: 'GothamProBold', sans-serif;
  width: 100%;
  color: #181c1d;
  margin-bottom: 79px;
}

.wrapper .team .team__header span {
  color: #fbd525;
}

.wrapper .team .team__worker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper .team .team__worker .team__worker__item {
  position: relative;
  width: 100%;
  max-width: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fafafa;
  text-align: center;
  margin: 0 60px 60px 0;
  border: 5px solid transparent;
}

.wrapper .team .team__worker .team__worker__item::before {
  content: '';
  position: absolute;
  background: url("../images/patterns/bg_pattern_left.png") left no-repeat;
  background-size: contain;
  width: 106px;
  height: 236px;
  top: 0;
  left: 0;
}

.wrapper .team .team__worker .team__worker__item::after {
  content: '';
  position: absolute;
  background: url("../images/patterns/bg___right.png") right no-repeat;
  background-size: contain;
  width: 105px;
  height: 234px;
  top: 0;
  right: 0;
}

.wrapper .team .team__worker .team__worker__item:hover {
  -webkit-box-shadow: 0px 3px 20.7px 2.3px rgba(24, 28, 29, 0.15);
          box-shadow: 0px 3px 20.7px 2.3px rgba(24, 28, 29, 0.15);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 5px solid #fbd525;
}

.wrapper .team .team__worker .worker__item__tla {
  padding-top: 42px;
  padding-bottom: 40px;
}

.wrapper .team .team__worker .worker__item__tla .tla__avatar {
  width: 120px;
  height: 121px;
  margin-bottom: 28px;
}

.wrapper .team .team__worker .worker__item__tla .tla__name {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  color: #181c1d;
  margin-bottom: 16px;
}

.wrapper .team .team__worker .worker__item__tla .tla__post {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #fbd525;
  margin-bottom: 29px;
}

.wrapper .team .team__worker .worker__item__tla .tla__in img {
  width: 24px;
  height: 24px;
}

.wrapper .partners {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 139px;
  margin-bottom: 155px;
}

.wrapper .partners .partners__info {
  width: 100%;
  max-width: 248px;
  margin-right: 114px;
}

.wrapper .partners .partners__info .partners__info__header {
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  font-family: 'GothamProBold', sans-serif;
  width: 100%;
  color: #181c1d;
  margin-bottom: 45px;
}

.wrapper .partners .partners__info .partners__info__header span {
  color: #fbd525;
}

.wrapper .partners .partners__info .partners__info__header span {
  color: #fbd525;
}

.wrapper .partners .partners__info .partners__info__text {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #181c1d;
  line-height: 30px;
  letter-spacing: normal;
}

.wrapper .partners .partners__logos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrapper .partners .partners__logos .partners__logos__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .partners .partners__logos .partners__logos__items:last-of-type {
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
}

.wrapper .partners .partners__logos .partners__logos__items .logos__items_gl-tech img {
  width: 127px;
  height: 38px;
}

.wrapper .partners .partners__logos .partners__logos__items .logos__items_codeska img {
  width: 179px;
  height: 28px;
}

.wrapper .partners .partners__logos .partners__logos__items .logos__items_fin-tech img {
  width: 225px;
  height: 27px;
}

.wrapper .partners .partners__logos .partners__logos__items .logos__items_ilawlab a {
  text-decoration: none;
}

.wrapper .partners .partners__logos .partners__logos__items .logos__items_ilawlab h2 {
  font-family: 'SumacRegular', sans-serif;
  line-height: 30px;
  font-size: 30px;
  font-style: normal;
  font-stretch: normal;
  color: #0057a2;
}

.wrapper .partners .partners__logos .partners__logos__items .logos__items_100 img {
  width: 130px;
  height: 45px;
}

.wrapper .partners .partners__logos .partners__logos__items .logos__items_patiole img {
  width: 84px;
  height: 84px;
}

.wrapper .partners .partners__logos .partners__logos__items .logos__items_pga img {
  width: 82px;
  height: 88px;
}

.wrapper .contact-content {
  width: 100%;
  background-color: #fafafa;
  position: relative;
}

.wrapper .contact-content::after {
  content: '';
  position: absolute;
  background: url("../images/patterns/square-pattern-right.png") right no-repeat;
  background-size: cover;
  width: 152px;
  height: 207px;
  top: 38px;
  right: 0;
}

.wrapper .contact {
  padding: 122px 0 140px 0;
}

.wrapper .contact .contact__header {
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  font-family: 'GothamProBold', sans-serif;
  width: 100%;
  color: #181c1d;
  font-family: 'GothamProBold', sans-serif;
  margin-bottom: 79px;
}

.wrapper .contact .contact__header span {
  color: #fbd525;
}

.wrapper .contact .contact__socials {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .contact .contact__socials .socials__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 76px;
}

.wrapper .contact .contact__socials .socials__email a {
  display: block;
}

.wrapper .contact .contact__socials .socials__email .email__input {
  width: 100%;
  max-width: 346px;
  height: 116px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1.5px 14.7px 0.3px rgba(24, 28, 29, 0.01);
          box-shadow: 0px 1.5px 14.7px 0.3px rgba(24, 28, 29, 0.01);
  color: #181c1d;
  font-size: 20px;
  padding-left: 48px;
  padding-right: 50px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.wrapper .contact .contact__socials .socials__email .email__input:focus {
  outline: none;
}

.wrapper .contact .contact__socials .socials__email .email__link {
  width: 116px;
  height: 116px;
  background-color: #181c1d;
  border: none;
}

.wrapper .contact .contact__socials .socials__email .email__link img {
  width: 29px;
  height: 21px;
  padding: 44px 43px;
}

.wrapper .contact .contact__socials .social-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .contact .contact__socials .social-content a {
  display: block;
}

.wrapper .contact .contact__socials .fb__link,
.wrapper .contact .contact__socials .twit__link,
.wrapper .contact .contact__socials .in__link,
.wrapper .contact .contact__socials .telega__link {
  width: 120px;
  height: 116px;
}

.wrapper .contact .contact__socials .social__fb,
.wrapper .contact .contact__socials .social__twt,
.wrapper .contact .contact__socials .social__in,
.wrapper .contact .contact__socials .social__telega {
  width: 120px;
  height: 116px;
  background-color: #ffffff;
  text-align: center;
}

.wrapper .contact .contact__socials .social__fb img,
.wrapper .contact .contact__socials .social__twt img,
.wrapper .contact .contact__socials .social__in img,
.wrapper .contact .contact__socials .social__telega img {
  padding-top: 43px;
}

.wrapper .contact .contact__socials .social__fb:hover,
.wrapper .contact .contact__socials .social__twt:hover,
.wrapper .contact .contact__socials .social__in:hover,
.wrapper .contact .contact__socials .social__telega:hover {
  cursor: pointer;
  background-color: #181c1d;
  -webkit-box-shadow: 0px 1.5px 14.7px 0.3px rgba(24, 28, 29, 0.01);
          box-shadow: 0px 1.5px 14.7px 0.3px rgba(24, 28, 29, 0.01);
}

.wrapper .contact .contact__socials .social__fb:hover:after,
.wrapper .contact .contact__socials .social__twt:hover:after,
.wrapper .contact .contact__socials .social__in:hover:after,
.wrapper .contact .contact__socials .social__telega:hover:after {
  content: '';
  position: absolute;
  background: url("../images/logos/right-arrow.png") center no-repeat;
  background-size: contain;
  width: 28px;
  height: 20px;
  top: 48px;
  left: 48px;
}

.wrapper .contact .contact__socials .social__fb {
  margin-right: 41px;
  position: relative;
  z-index: 1;
}

.wrapper .contact .contact__socials .social__fb img {
  z-index: 2;
  width: 14px;
  height: 29px;
}

.wrapper .contact .contact__socials .social__twt {
  position: relative;
  z-index: 1;
  margin-right: 40px;
}

.wrapper .contact .contact__socials .social__twt img {
  width: 28px;
  height: 25px;
}

.wrapper .contact .contact__socials .social__in {
  position: relative;
  z-index: 1;
  margin-right: 41px;
}

.wrapper .contact .contact__socials .social__in img {
  z-index: 2;
  width: 29px;
  height: 29px;
}

.wrapper .contact .contact__socials .social__telega {
  position: relative;
  z-index: 1;
}

.wrapper .contact .contact__socials .social__telega img {
  z-index: 2;
  width: 28px;
  height: 27px;
}

.wrapper .footer-content {
  width: 100%;
  background-color: #181c1d;
  position: relative;
  z-index: 1;
}

.wrapper .footer-content::after {
  content: '';
  position: absolute;
  background: url("../images/patterns/pres-pattern-left.png") left no-repeat;
  background-size: contain;
  width: 959px;
  height: 432px;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wrapper .footer-content::before {
  content: '';
  position: absolute;
  background: url("../images/patterns/pres-pattern-right.png") right no-repeat;
  background-size: contain;
  width: 959px;
  height: 432px;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.wrapper .footer-content .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 138px;
  padding-bottom: 137px;
}

.wrapper .navigation {
  width: 100%;
  max-width: 593px;
}

.wrapper .navigation .navigation__header {
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  font-family: 'GothamProBold', sans-serif;
  margin-bottom: 74px;
}

.wrapper .navigation .navigation__header span {
  color: #fbd525;
}

.wrapper .navigation .present__menu {
  margin-bottom: 78px;
}

.wrapper .navigation .present__menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .navigation .present__menu .menu__list .menu__list__item {
  font-size: 16px;
  list-style-type: none;
  margin-right: 35px;
}

.wrapper .navigation .present__menu .menu__list .menu__list__item:last-of-type {
  margin-right: 0;
}

.wrapper .navigation .present__menu .menu__list .menu__list__item .item__link {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.wrapper .navigation .present__menu .menu__list .menu__list__item .item__link:hover {
  text-decoration: none;
  color: #fbd525;
}

.wrapper .navigation .navigation__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 78px;
}

.wrapper .navigation .navigation__logos .logos__fb img {
  width: 14px;
  height: 29px;
}

.wrapper .navigation .navigation__logos .logos__twt img {
  width: 28px;
  height: 22px;
}

.wrapper .navigation .navigation__logos .logos__in img {
  width: 24px;
  height: 24px;
}

.wrapper .navigation .navigation__logos .logos__telega img {
  width: 28px;
  height: 25px;
}

.wrapper .navigation .navigation__input {
  position: relative;
  max-width: 583px;
}

.wrapper .navigation .navigation__input .email__input {
  width: 100%;
  max-width: 583px;
  height: 85px;
  -webkit-box-shadow: 0px 3px 29.4px 0.6px rgba(24, 28, 29, 0.01);
          box-shadow: 0px 3px 29.4px 0.6px rgba(24, 28, 29, 0.01);
  background-color: #212627;
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 61px;
}

.wrapper .navigation .navigation__input .email__input:focus {
  outline: none;
}

.wrapper .navigation #mc_embed_signup_scroll .mc-field-group .email__input {
  padding-left: 45px;
}

#mc_embed_signup_scroll {
  position: relative;
  max-width: 583px;
}

.wrapper .navigation #mc_embed_signup_scroll .clear {
  width: 130px;
  height: 54px;
  position: absolute;
  top: 15px;
  right: 35px;
}

.wrapper .navigation #mc_embed_signup_scroll .clear .button {
  width: 130px;
  height: 54px;
  font-size: 16px;
  outline: none;
  margin: 0;
  color: #181c1d;
  background-color: #FBD525;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 16px;
  border-radius: 0;
  border: none;
}

.wrapper .navigation .navigation__info .info__policy {
  margin-bottom: 48px;
}

.wrapper .navigation .navigation__info .info__policy a {
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.wrapper .navigation .navigation__info .info__copy {
  opacity: 0.5;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 10px;
}

.wrapper .navigation .navigation__info .info__design {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.wrapper .navigation .navigation__info .info__design .design__link {
  display: inline;
  color: #fbd525;
  text-decoration: none;
  border-bottom: 1px solid #fbd525;
}

.wrapper .news {
  width: 100%;
  max-width: 447px;
}

.wrapper .news .news__header {
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  font-family: 'GothamProBold', sans-serif;
  width: 100%;
  margin-bottom: 77px;
}

.wrapper .news .news__header span {
  color: #fbd525;
}

@media (max-width: 1200px) {
  .wrapper .container {
    max-width: 900px;
  }
  .wrapper .welcome {
    height: 70px;
  }
  .wrapper .present .present__logo {
    padding-right: 45px;
  }
  .wrapper .present .present__logo .logo__glob {
    width: 104px;
    height: 70px;
  }
  .wrapper .present .present__logo .logo__ukr__img {
    width: 81px;
    height: 39px;
    padding-top: 17px;
    padding-right: 20px;
  }
  .wrapper .present .present__logo .logo__glob__img {
    width: 75px;
    height: 22px;
    padding: 23px 0 0 12px;
  }
  .wrapper .present .view_menu {
    display: none;
  }
  .wrapper .present .close_menu {
    display: none;
  }
  .wrapper .present .present__menu .menu__list .menu__list__item {
    font-size: 12px;
    margin-right: 30px;
  }
  .wrapper .tech-ukr::before {
    width: 545px;
    height: 248px;
  }
  .wrapper .tech-ukr::after {
    width: 545px;
    height: 248px;
  }
  .wrapper .tech-ukr .tech-ukr__content {
    padding: 100px 0 80px;
  }
  .wrapper .tech-ukr .tech-ukr__content__header {
    font-size: 40px;
    margin-bottom: 40px;
  }
  .wrapper .tech-ukr .tech-ukr__content__text {
    font-size: 17px;
    margin-bottom: 45px;
  }
  .wrapper .tech-ukr .tech-ukr__content__btn {
    max-width: 190px;
    height: 55px;
    font-size: 14px;
    margin-bottom: 60px;
  }
  .wrapper .about-us {
    padding-top: 87px;
  }
  .wrapper .about-us .about-us__content__header {
    font-size: 35px;
    margin-bottom: 65px;
  }
  .wrapper .about-us .about-us__content .about-us__content__field {
    padding-right: 127px;
  }
  .wrapper .about-us .about-us__content .about-us__content__field .fiels__text {
    font-size: 17px;
    padding-left: 60px;
    margin-bottom: 50px;
  }
  .wrapper .about-us .about-us__content .about-us__content__field .fiels__text:nth-of-type(1)::after {
    width: 30px;
    height: 28px;
    top: -6px;
    left: 4px;
  }
  .wrapper .about-us .about-us__content .about-us__content__field .fiels__text:nth-of-type(2)::after {
    width: 25px;
    height: 25px;
    top: -4px;
    left: 8px;
  }
  .wrapper .about-us .about-us__content .about-us__content__field .fiels__text:nth-of-type(3)::after {
    width: 22px;
    height: 25px;
    top: -3px;
    left: 9px;
  }
  .wrapper .about-us .about-us__content .about-us__content__field .fiels__text::before {
    width: 44px;
    height: 44px;
    top: -13px;
    left: -2px;
  }
  .wrapper .about-us .about-us__content .about-us__content__field::after {
    width: 33px;
    height: 240px;
    top: -34px;
    right: 51px;
  }
  .wrapper .about-us .about-us__content .about-us__content__info {
    max-width: 410px;
  }
  .wrapper .about-us .about-us__content .about-us__content__info .info__text {
    font-size: 16px;
  }
  .wrapper .numbers::before {
    display: none;
  }
  .wrapper .numbers::after {
    display: none;
  }
  .wrapper .numbers .numbers__content {
    padding-top: 110px;
  }
  .wrapper .numbers .numbers__content .numbers__content__header {
    font-size: 40px;
    margin-bottom: 60px;
  }
  .wrapper .numbers .numbers__content .numbers__content__companies {
    margin-bottom: 70px;
  }
  .wrapper .numbers .numbers__content .numbers__content__companies .companies__persent {
    width: 130px;
    height: 130px;
    margin-right: 59px;
  }
  .wrapper .numbers .numbers__content .numbers__content__companies .companies__persent::after {
    width: 27px;
    height: 33px;
    top: 15px;
    right: -27px;
  }
  .wrapper .numbers .numbers__content .numbers__content__companies .companies__persent .companies__persent__text {
    font-size: 32px;
    padding-top: 42px;
  }
  .wrapper .numbers .numbers__content .numbers__content__companies .companies__ofc__text {
    font-size: 17px;
  }
  .wrapper .numbers .numbers__content .numbers__content__companies .companies__ofc {
    padding-top: 20px;
  }
  .wrapper .numbers .numbers__content .numbers__content__companies .companies__ofc .companies__ofc__logo img {
    margin-right: 45px;
  }
  .wrapper .numbers .numbers__content .numbers__content__companies .companies__ofc .companies__ofc__logo .logo__sams {
    width: 110px;
    height: 18px;
  }
  .wrapper .numbers .numbers__content .numbers__content__companies .companies__ofc .companies__ofc__logo .logo__micros {
    width: 123px;
    height: 30px;
  }
  .wrapper .numbers .numbers__content .numbers__content__companies .companies__ofc .companies__ofc__logo .logo__huawei {
    width: 127px;
    height: 28px;
  }
  .wrapper .numbers .numbers__content .numbers__content__companies .companies__ofc .companies__ofc__logo .logo__abby {
    width: 85px;
    height: 21px;
  }
  .wrapper .numbers .numbers__content__statistic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 85px;
  }
  .wrapper .numbers .numbers__content__statistic .statistic__start {
    width: 310px;
    height: 238px;
  }
  .wrapper .numbers .numbers__content__statistic .statistic__start::after {
    width: 27px;
    height: 33px;
    top: 39px;
    right: -27px;
  }
  .wrapper .numbers .numbers__content__statistic .statistic__start__text {
    max-width: 170px;
    font-size: 14px;
    padding-top: 54px;
    text-align: center;
  }
  .wrapper .numbers .numbers__content__statistic .statistic__start__text span {
    font-size: 60px;
  }
  .wrapper .numbers .numbers__content__statistic .statistic__ofc {
    padding-top: 20px;
  }
  .wrapper .numbers .numbers__content__statistic .statistic__ofc .statistic__ofc__header {
    font-size: 16px;
    margin-bottom: 22px;
  }
  .wrapper .numbers .numbers__content__statistic .statistic__ofc .statistic__ofc__text {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .wrapper .numbers .numbers__content__statistic .statistic__ofc .statistic__partners .statistic__partners__header {
    font-size: 20px;
    margin-bottom: 14px;
  }
  .wrapper .numbers .numbers__content__statistic .statistic__ofc .statistic__partners .statistic__partners__flag .flag__usa,
  .wrapper .numbers .numbers__content__statistic .statistic__ofc .statistic__partners .statistic__partners__flag .flag__europe,
  .wrapper .numbers .numbers__content__statistic .statistic__ofc .statistic__partners .statistic__partners__flag .flag__israel {
    width: 76px;
    height: 51px;
    margin-right: 25px;
  }
  .wrapper .numbers .numbers__content__facts {
    margin-bottom: 100px;
  }
  .wrapper .numbers .numbers__content__facts .facts__header {
    font-size: 35px;
    margin-bottom: 40px;
  }
  .wrapper .numbers .numbers__content__facts .facts__text {
    font-size: 20px;
    margin-bottom: 35px;
    padding-left: 40px;
  }
  .wrapper .numbers .numbers__content__facts .facts__text:last-of-type {
    margin-bottom: 62px;
  }
  .wrapper .numbers .numbers__content__facts .facts__text::after {
    width: 17px;
    height: 20px;
    top: 0;
    left: 2px;
  }
  .wrapper .numbers .numbers__content__facts .facts__info {
    font-size: 15px;
  }
  .wrapper .join::after {
    width: 545px;
    height: 248px;
  }
  .wrapper .join::before {
    width: 545px;
    height: 248px;
  }
  .wrapper .join .join__content {
    padding-top: 95px;
    padding-bottom: 85px;
  }
  .wrapper .join .join__content__header {
    font-size: 40px;
    margin-bottom: 45px;
  }
  .wrapper .join .join__content__text {
    max-width: 610px;
    font-size: 18px;
    margin-bottom: 47px;
  }
  .wrapper .join .join__content__btn {
    max-width: 190px;
    height: 55px;
    font-size: 13px;
  }
  .wrapper .team {
    padding-top: 100px;
  }
  .wrapper .team::before {
    display: none;
  }
  .wrapper .team .team__header {
    font-size: 40px;
    margin-bottom: 61px;
  }
  .wrapper .partners {
    display: block;
    padding-top: 100px;
    margin-bottom: 110px;
  }
  .wrapper .partners .partners__info {
    max-width: 350px;
    margin-right: 0;
  }
  .wrapper .partners .partners__info .partners__info__header {
    font-size: 40px;
    margin-bottom: 60px;
  }
  .wrapper .partners .partners__info .partners__info__text {
    display: none;
  }
  .wrapper .partners .partners__logos .partners__logos__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 60px;
  }
  .wrapper .partners .partners__logos .partners__logos__items:last-of-type {
    -webkit-box-pack: inherit;
        -ms-flex-pack: inherit;
            justify-content: inherit;
    margin-bottom: 0;
  }
  .wrapper .partners .partners__logos .partners__logos__items .logos__items_gl-tech img {
    width: 127px;
    height: 38px;
  }
  .wrapper .partners .partners__logos .partners__logos__items .logos__items_codeska img {
    width: 150px;
    height: 22px;
  }
  .wrapper .partners .partners__logos .partners__logos__items .logos__items_100 img {
    width: 130px;
    height: 45px;
    padding-left: 6px;
  }
  .wrapper .partners .partners__logos .partners__logos__items .logos__items_fin-tech img {
    width: 185px;
    height: 22px;
  }
  .wrapper .partners .partners__logos .partners__logos__items .logos__items_ilawlab h2 {
    line-height: 27px;
    font-size: 27px;
  }
  .wrapper .partners .partners__logos .partners__logos__items .logos__items_patiole img {
    width: 57px;
    height: 57px;
  }
  .wrapper .partners .partners__logos .partners__logos__items .logos__items_pga img {
    width: 60px;
    height: 59px;
  }
  .wrapper .contact-content::after {
    display: none;
  }
  .wrapper .contact {
    padding: 100px 0 100px 0;
  }
  .wrapper .contact .contact__header {
    font-size: 40px;
    margin-bottom: 65px;
  }
  .wrapper .contact .contact__socials .socials__email {
    margin-right: 30px;
  }
  .wrapper .contact .contact__socials .socials__email .email__input {
    max-width: 243px;
    height: 70px;
    font-size: 16px;
    padding-left: 24px;
    padding-right: 30px;
  }
  .wrapper .contact .contact__socials .socials__email .email__link {
    width: 78px;
    height: 70px;
  }
  .wrapper .contact .contact__socials .socials__email .email__link img {
    width: 22px;
    height: 16px;
    padding: 26px 28px;
  }
  .wrapper .contact .contact__socials .fb__link,
  .wrapper .contact .contact__socials .twit__link,
  .wrapper .contact .contact__socials .in__link,
  .wrapper .contact .contact__socials .telega__link {
    width: 78px;
    height: 70px;
  }
  .wrapper .contact .contact__socials .social__fb,
  .wrapper .contact .contact__socials .social__twt,
  .wrapper .contact .contact__socials .social__in,
  .wrapper .contact .contact__socials .social__telega {
    width: 78px;
    height: 70px;
  }
  .wrapper .contact .contact__socials .social__fb img,
  .wrapper .contact .contact__socials .social__twt img,
  .wrapper .contact .contact__socials .social__in img,
  .wrapper .contact .contact__socials .social__telega img {
    padding-top: 20px;
  }
  .wrapper .contact .contact__socials .social__fb:hover:after,
  .wrapper .contact .contact__socials .social__twt:hover:after,
  .wrapper .contact .contact__socials .social__in:hover:after,
  .wrapper .contact .contact__socials .social__telega:hover:after {
    width: 25px;
    height: 18px;
    top: 24px;
    left: 27px;
  }
  .wrapper .contact .contact__socials .social__fb {
    margin-right: 30px;
  }
  .wrapper .contact .contact__socials .social__fb img {
    width: 12px;
    height: 22px;
  }
  .wrapper .contact .contact__socials .social__twt {
    margin-right: 30px;
  }
  .wrapper .contact .contact__socials .social__twt img {
    width: 21px;
    height: 18px;
  }
  .wrapper .contact .contact__socials .social__in {
    margin-right: 30px;
  }
  .wrapper .contact .contact__socials .social__in img {
    width: 22px;
    height: 21px;
  }
  .wrapper .contact .contact__socials .social__telega img {
    width: 21px;
    height: 19px;
  }
  .wrapper .footer-content::after {
    width: 545px;
    height: 248px;
  }
  .wrapper .footer-content::before {
    width: 545px;
    height: 248px;
  }
  .wrapper .footer-content .container {
    padding-top: 100px;
    padding-bottom: 92px;
  }
  .wrapper .navigation {
    max-width: 539px;
  }
  .wrapper .navigation .navigation__header {
    font-size: 36px;
    margin-bottom: 39px;
  }
  .wrapper .navigation .present__menu {
    margin-bottom: 45px;
  }
  .wrapper .navigation .present__menu .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper .navigation .present__menu .menu__list .menu__list__item {
    margin-right: 28px;
    font-size: 14px;
    margin-bottom: 30px;
  }
  .wrapper .navigation .navigation__logos {
    max-width: 495px;
  }
  .wrapper .navigation #mc_embed_signup_scroll .mc-field-group .email__input {
    padding-left: 25px;
  }
  .wrapper .navigation #mc_embed_signup_scroll .clear {
    width: 120px;
    height: 44px;
    position: absolute;
    top: 12px;
    right: 66px;
  }
  .wrapper .navigation #mc_embed_signup_scroll .clear .button {
    width: 120px;
    height: 44px;
    font-size: 15px;
  }
  .wrapper .navigation .navigation__input {
    max-width: 495px;
  }
  .wrapper .navigation .navigation__input .email__input {
    max-width: 495px;
    height: 71px;
    font-size: 16px;
    padding-right: 47px;
    margin-bottom: 50px;
  }
  .wrapper .navigation .navigation__info .info__policy {
    margin-bottom: 45px;
  }
  .wrapper .navigation .navigation__info .info__policy a {
    font-size: 14px;
  }
  .wrapper .navigation .navigation__info .info__copy {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .wrapper .navigation .navigation__info .info__design {
    font-size: 14px;
  }
  .wrapper .news {
    max-width: 318px;
    margin-bottom: 60px;
  }
  .wrapper .news .news__header {
    font-size: 36px;
    margin-bottom: 39px;
  }
}

@media (min-width: 786px) and (max-width: 1199px) {
  .wrapper {
    position: relative;
  }
  .wrapper .container {
    max-width: 725px;
    position: relative;
  }
  .wrapper .welcome {
    height: 64px;
  }
  .wrapper .present {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .wrapper .present .present__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0;
  }
  .wrapper .present .present__logo .logo__glob {
    width: 91px;
    height: 64px;
  }
  .wrapper .present .present__logo .logo__ukr__img {
    width: 75px;
    height: 35px;
    padding-top: 15px;
    padding-right: 17px;
  }
  .wrapper .present .present__logo .logo__glob__img {
    width: 75px;
    height: 22px;
    padding: 21px 0 0 8px;
  }
  .wrapper .present .view_menu {
    display: block;
    padding-top: 19px;
  }
  .wrapper .present .view_menu svg {
    width: 27px;
    height: 20px;
    fill: #ffffff;
  }
  .wrapper .present .close_menu {
    display: none;
    float: right;
    padding-bottom: 42px;
    width: 24px;
    height: 24px;
    padding: 19px 14px 0 0;
    fill: #fbd525;
  }
  .wrapper .present .present__menu {
    display: none;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    width: 40%;
    height: 554px;
    background-color: #1f2324;
  }
  .wrapper .present .present__menu .menu__list {
    padding-top: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper .present .present__menu .menu__list .menu__list__item {
    max-width: 105px;
    font-size: 18px;
    list-style-type: none;
    margin-right: 0;
    margin-bottom: 58px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  .wrapper .present .present__menu .menu__list .menu__list__item:last-of-type {
    display: none;
  }
  .wrapper .tech-ukr::before {
    width: 320px;
    height: 213px;
  }
  .wrapper .tech-ukr::after {
    width: 320px;
    height: 213px;
  }
  .wrapper .tech-ukr .tech-ukr__content {
    padding: 100px 0 70px;
  }
  .wrapper .tech-ukr .tech-ukr__content__header {
    font-size: 38px;
    margin-bottom: 32px;
  }
  .wrapper .tech-ukr .tech-ukr__content__text {
    font-size: 16px;
    margin-bottom: 37px;
  }
  .wrapper .tech-ukr .tech-ukr__content__btn {
    max-width: 170px;
    height: 55px;
    font-size: 14px;
    margin-bottom: 56px;
  }
  .wrapper .about-us {
    padding-top: 87px;
  }
  .wrapper .about-us .about-us__content__header {
    font-size: 35px;
    margin-bottom: 45px;
  }
  .wrapper .about-us .about-us__content .about-us__content__field {
    padding-right: 127px;
  }
  .wrapper .about-us .about-us__content .about-us__content__field .fiels__text {
    font-size: 16px;
    padding-left: 54px;
    margin-bottom: 35px;
  }
  .wrapper .about-us .about-us__content .about-us__content__field .fiels__text:nth-of-type(1)::after {
    width: 28px;
    height: 27px;
    top: -5px;
    left: 4px;
  }
  .wrapper .about-us .about-us__content .about-us__content__field .fiels__text:nth-of-type(2)::after {
    width: 23px;
    height: 23px;
    top: -3px;
    left: 7px;
  }
  .wrapper .about-us .about-us__content .about-us__content__field .fiels__text:nth-of-type(3)::after {
    width: 20px;
    height: 22px;
    top: -1px;
    left: 8px;
  }
  .wrapper .about-us .about-us__content .about-us__content__field .fiels__text::before {
    width: 40px;
    height: 40px;
    top: -10px;
    left: -2px;
  }
  .wrapper .about-us .about-us__content .about-us__content__field::after {
    width: 30px;
    height: 200px;
    top: -31px;
    right: 51px;
  }
  .wrapper .about-us .about-us__content .about-us__content__info {
    max-width: 313px;
  }
  .wrapper .about-us .about-us__content .about-us__content__info .info__text {
    font-size: 14px;
  }
  .wrapper .numbers::before {
    display: none;
  }
  .wrapper .numbers::after {
    display: none;
  }
  .wrapper .numbers .numbers__content {
    padding-top: 100px;
  }
  .wrapper .numbers .numbers__content .numbers__content__header {
    font-size: 35px;
    margin-bottom: 29px;
  }
  .wrapper .numbers .numbers__content .numbers__content__companies {
    margin-bottom: 65px;
  }
  .wrapper .numbers .numbers__content .numbers__content__companies .companies__persent {
    width: 130px;
    height: 130px;
    margin-right: 59px;
  }
  .wrapper .numbers .numbers__content .numbers__content__companies .companies__persent::after {
    width: 27px;
    height: 33px;
    top: 15px;
    right: -27px;
  }
  .wrapper .numbers .numbers__content .numbers__content__companies .companies__persent .companies__persent__text {
    font-size: 32px;
    padding-top: 42px;
  }
  .wrapper .numbers .numbers__content .numbers__content__companies .companies__ofc__text {
    font-size: 16px;
  }
  .wrapper .numbers .numbers__content .numbers__content__companies .companies__ofc {
    padding-top: 20px;
  }
  .wrapper .numbers .numbers__content .numbers__content__companies .companies__ofc .companies__ofc__logo img {
    margin-right: 25px;
  }
  .wrapper .numbers .numbers__content .numbers__content__companies .companies__ofc .companies__ofc__logo .logo__sams {
    width: 103px;
    height: 14px;
  }
  .wrapper .numbers .numbers__content .numbers__content__companies .companies__ofc .companies__ofc__logo .logo__micros {
    width: 111px;
    height: 25px;
  }
  .wrapper .numbers .numbers__content .numbers__content__companies .companies__ofc .companies__ofc__logo .logo__huawei {
    width: 113px;
    height: 24px;
  }
  .wrapper .numbers .numbers__content .numbers__content__companies .companies__ofc .companies__ofc__logo .logo__abby {
    width: 75px;
    height: 16px;
  }
  .wrapper .numbers .numbers__content__statistic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 85px;
  }
  .wrapper .numbers .numbers__content__statistic .statistic__start {
    width: 310px;
    height: 231px;
  }
  .wrapper .numbers .numbers__content__statistic .statistic__start::after {
    width: 27px;
    height: 33px;
    top: 39px;
    right: -27px;
  }
  .wrapper .numbers .numbers__content__statistic .statistic__start__text {
    max-width: 170px;
    font-size: 14px;
    padding-top: 50px;
    text-align: center;
  }
  .wrapper .numbers .numbers__content__statistic .statistic__start__text span {
    font-size: 60px;
  }
  .wrapper .numbers .numbers__content__statistic .statistic__ofc {
    padding-top: 20px;
  }
  .wrapper .numbers .numbers__content__statistic .statistic__ofc .statistic__ofc__header {
    font-size: 14px;
    margin-bottom: 22px;
  }
  .wrapper .numbers .numbers__content__statistic .statistic__ofc .statistic__ofc__text {
    font-size: 14px;
    margin-bottom: 25px;
  }
  .wrapper .numbers .numbers__content__statistic .statistic__ofc .statistic__partners .statistic__partners__header {
    font-size: 18px;
    margin-bottom: 14px;
  }
  .wrapper .numbers .numbers__content__statistic .statistic__ofc .statistic__partners .statistic__partners__flag .flag__usa,
  .wrapper .numbers .numbers__content__statistic .statistic__ofc .statistic__partners .statistic__partners__flag .flag__europe,
  .wrapper .numbers .numbers__content__statistic .statistic__ofc .statistic__partners .statistic__partners__flag .flag__israel {
    width: 65px;
    height: 45px;
    margin-right: 22px;
  }
  .wrapper .numbers .numbers__content__facts {
    margin-bottom: 90px;
  }
  .wrapper .numbers .numbers__content__facts .facts__header {
    font-size: 30px;
    margin-bottom: 31px;
  }
  .wrapper .numbers .numbers__content__facts .facts__text {
    font-size: 16px;
    margin-bottom: 28px;
    padding-left: 25px;
  }
  .wrapper .numbers .numbers__content__facts .facts__text:last-of-type {
    margin-bottom: 62px;
  }
  .wrapper .numbers .numbers__content__facts .facts__text::after {
    width: 14px;
    height: 16px;
    top: 1px;
    left: 2px;
  }
  .wrapper .numbers .numbers__content__facts .facts__info {
    font-size: 14px;
  }
  .wrapper .join::after {
    width: 320px;
    height: 213px;
  }
  .wrapper .join::before {
    width: 320px;
    height: 213px;
  }
  .wrapper .join .join__content {
    padding: 90px 0 0 0;
  }
  .wrapper .join .join__content__header {
    font-size: 35px;
    margin-bottom: 35px;
  }
  .wrapper .join .join__content__text {
    max-width: 610px;
    font-size: 16px;
    margin-bottom: 42px;
  }
  .wrapper .join .join__content__btn {
    max-width: 160px;
    height: 50px;
    font-size: 12.5px;
    margin-bottom: 70px;
  }
  .wrapper .team {
    padding-top: 90px;
  }
  .wrapper .team::before {
    display: none;
  }
  .wrapper .team .team__header {
    font-size: 35px;
    margin-bottom: 59px;
  }
  .wrapper .team .team__worker .team__worker__item {
    max-width: 290px;
    margin: 0 40px 40px 0;
  }
  .wrapper .team .team__worker .worker__item__tla {
    padding-top: 41px;
    padding-bottom: 39px;
  }
  .wrapper .team .team__worker .worker__item__tla .tla__avatar {
    width: 116px;
    height: 117px;
  }
  .wrapper .team .team__worker .worker__item__tla .tla__name {
    font-size: 17px;
  }
  .wrapper .team .team__worker .worker__item__tla .tla__post {
    font-size: 16px;
  }
  .wrapper .team .team__worker .worker__item__tla .tla__in img {
    width: 23px;
    height: 23px;
  }
  .wrapper .partners {
    display: block;
    padding-top: 100px;
    margin-bottom: 110px;
  }
  .wrapper .partners .partners__info {
    margin-right: 0;
  }
  .wrapper .partners .partners__info .partners__info__header {
    font-size: 35px;
    margin-bottom: 60px;
  }
  .wrapper .partners .partners__info .partners__info__text {
    display: none;
  }
  .wrapper .partners .partners__logos .partners__logos__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 60px;
  }
  .wrapper .partners .partners__logos .partners__logos__items:last-of-type {
    -webkit-box-pack: inherit;
        -ms-flex-pack: inherit;
            justify-content: inherit;
    margin-bottom: 0;
  }
  .wrapper .partners .partners__logos .partners__logos__items .logos__items_gl-tech img {
    width: 127px;
    height: 38px;
  }
  .wrapper .partners .partners__logos .partners__logos__items .logos__items_codeska img {
    width: 150px;
    height: 22px;
  }
  .wrapper .partners .partners__logos .partners__logos__items .logos__items_100 img {
    width: 130px;
    height: 45px;
    padding-left: 6px;
  }
  .wrapper .partners .partners__logos .partners__logos__items .logos__items_fin-tech img {
    width: 185px;
    height: 22px;
  }
  .wrapper .partners .partners__logos .partners__logos__items .logos__items_ilawlab h2 {
    line-height: 26px;
    font-size: 26px;
  }
  .wrapper .partners .partners__logos .partners__logos__items .logos__items_patiole img {
    width: 57px;
    height: 57px;
  }
  .wrapper .partners .partners__logos .partners__logos__items .logos__items_pga img {
    width: 64px;
    height: 60px;
  }
  .wrapper .contact-content::after {
    display: none;
  }
  .wrapper .contact {
    padding: 100px 0 100px 0;
  }
  .wrapper .contact .contact__header {
    font-size: 35px;
    margin-bottom: 60px;
  }
  .wrapper .contact .contact__socials .socials__email {
    margin-right: 30px;
  }
  .wrapper .contact .contact__socials .socials__email .email__input {
    max-width: 235px;
    height: 65px;
    font-size: 16px;
    padding-left: 22px;
    padding-right: 28px;
  }
  .wrapper .contact .contact__socials .socials__email .email__link {
    width: 73px;
    height: 65px;
  }
  .wrapper .contact .contact__socials .socials__email .email__link img {
    width: 19px;
    height: 15px;
    padding: 20px 27px;
  }
  .wrapper .contact .contact__socials .fb__link,
  .wrapper .contact .contact__socials .twit__link,
  .wrapper .contact .contact__socials .in__link,
  .wrapper .contact .contact__socials .telega__link {
    width: 73px;
    height: 65px;
  }
  .wrapper .contact .contact__socials .social__fb,
  .wrapper .contact .contact__socials .social__twt,
  .wrapper .contact .contact__socials .social__in,
  .wrapper .contact .contact__socials .social__telega {
    width: 73px;
    height: 65px;
  }
  .wrapper .contact .contact__socials .social__fb img,
  .wrapper .contact .contact__socials .social__twt img,
  .wrapper .contact .contact__socials .social__in img,
  .wrapper .contact .contact__socials .social__telega img {
    padding-top: 20px;
  }
  .wrapper .contact .contact__socials .social__fb:hover:after,
  .wrapper .contact .contact__socials .social__twt:hover:after,
  .wrapper .contact .contact__socials .social__in:hover:after,
  .wrapper .contact .contact__socials .social__telega:hover:after {
    width: 23px;
    height: 15px;
    top: 24px;
    left: 24px;
  }
  .wrapper .contact .contact__socials .social__fb {
    margin-right: 21px;
  }
  .wrapper .contact .contact__socials .social__fb img {
    width: 9px;
    height: 18px;
  }
  .wrapper .contact .contact__socials .social__twt {
    margin-right: 20px;
  }
  .wrapper .contact .contact__socials .social__twt img {
    width: 18px;
    height: 14px;
  }
  .wrapper .contact .contact__socials .social__in {
    margin-right: 21px;
  }
  .wrapper .contact .contact__socials .social__in img {
    width: 17px;
    height: 17px;
  }
  .wrapper .contact .contact__socials .social__telega img {
    width: 18px;
    height: 16px;
  }
  .wrapper .footer-content::after {
    display: none;
  }
  .wrapper .footer-content .container {
    padding-top: 81px;
    padding-bottom: 89px;
  }
  .wrapper .navigation {
    max-width: 343px;
  }
  .wrapper .navigation .navigation__header {
    font-size: 32px;
    margin-bottom: 35px;
  }
  .wrapper .navigation .present__menu {
    margin-bottom: 34px;
  }
  .wrapper .navigation .present__menu .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper .navigation .present__menu .menu__list .menu__list__item {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .wrapper .navigation .navigation__logos {
    max-width: 330px;
  }
  .wrapper .navigation .navigation__logos img {
    margin-right: 26px;
  }
  .wrapper .navigation #mc_embed_signup_scroll .mc-field-group .email__input {
    padding-left: 5px;
  }
  .wrapper .navigation #mc_embed_signup_scroll .clear {
    width: 80px;
    height: 35px;
    position: absolute;
    top: 13px;
    right: 42px;
  }
  .wrapper .navigation #mc_embed_signup_scroll .clear .button {
    width: 80px;
    height: 35px;
    font-size: 11.5px;
    padding: 0 7px;
  }
  .wrapper .navigation .navigation__input {
    max-width: 307px;
  }
  .wrapper .navigation .navigation__input .email__input {
    max-width: 307px;
    height: 61px;
    font-size: 15px;
    margin-bottom: 50px;
  }
  .wrapper .navigation .navigation__info .info__policy {
    margin-bottom: 30px;
  }
  .wrapper .navigation .navigation__info .info__policy a {
    font-size: 14px;
  }
  .wrapper .navigation .navigation__info .info__copy {
    font-size: 13px;
    margin-bottom: 20px;
  }
  .wrapper .navigation .navigation__info .info__design {
    font-size: 13px;
  }
  .wrapper .news {
    max-width: 289px;
    margin-bottom: 60px;
  }
  .wrapper .news .news__header {
    font-size: 32px;
    margin-bottom: 39px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper .container {
    max-width: 600px;
    position: relative;
  }
  .wrapper .welcome {
    height: 64px;
  }
  .wrapper .present {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .wrapper .present .present__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0;
    padding-left: 15px;
  }
  .wrapper .present .present__logo .logo__glob {
    width: 91px;
    height: 64px;
  }
  .wrapper .present .present__logo .logo__ukr__img {
    width: 75px;
    height: 35px;
    padding-top: 15px;
    padding-right: 17px;
  }
  .wrapper .present .present__logo .logo__glob__img {
    width: 75px;
    height: 22px;
    padding: 21px 0 0 8px;
  }
  .wrapper .present .view_menu {
    display: block;
    padding: 19px 15px 0 0;
  }
  .wrapper .present .view_menu svg {
    width: 27px;
    height: 20px;
    fill: #ffffff;
  }
  .wrapper .present .close_menu {
    display: none;
    width: 24px;
    height: 24px;
    padding-top: 19px;
    fill: #fbd525;
    padding-left: 176px;
  }
  .wrapper .present .present__menu {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    max-width: 215px;
    height: 526px;
    background-color: #1f2324;
  }
  .wrapper .present .present__menu .menu__list {
    padding-top: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper .present .present__menu .menu__list .menu__list__item {
    max-width: 105px;
    font-size: 18px;
    list-style-type: none;
    margin-right: 0;
    margin-bottom: 58px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  .wrapper .present .present__menu .menu__list .menu__list__item:last-of-type {
    display: none;
  }
  .wrapper .tech-ukr::before {
    display: none;
  }
  .wrapper .tech-ukr::after {
    width: 320px;
    height: 213px;
  }
  .wrapper .tech-ukr .tech-ukr__content {
    padding: 60px 15px 37px 15px;
  }
  .wrapper .tech-ukr .tech-ukr__content__header {
    max-width: 288px;
    font-size: 30px;
    margin-bottom: 28px;
  }
  .wrapper .tech-ukr .tech-ukr__content__text {
    max-width: 228px;
    font-size: 14px;
    margin-bottom: 37px;
  }
  .wrapper .tech-ukr .tech-ukr__content__btn {
    max-width: 160px;
    height: 50px;
    font-size: 12.5px;
    margin-bottom: 56px;
  }
  .wrapper .tech-ukr .tech-ukr__content__info {
    max-width: 292px;
  }
  .wrapper .tech-ukr .tech-ukr__content__info .content__link {
    display: inline;
  }
  .wrapper .about-us {
    padding: 62px 15px 0 15px;
  }
  .wrapper .about-us .about-us__content__header {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
  .wrapper .about-us .about-us__content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper .about-us .about-us__content .about-us__content__field {
    position: relative;
    padding-right: 0;
    margin-bottom: 50px;
  }
  .wrapper .about-us .about-us__content .about-us__content__field .fiels__text {
    font-size: 14px;
    margin-bottom: 29px;
  }
  .wrapper .about-us .about-us__content .about-us__content__field .fiels__text:nth-of-type(1)::after {
    width: 25px;
    height: 24px;
    top: -1px;
    left: 4px;
  }
  .wrapper .about-us .about-us__content .about-us__content__field .fiels__text:nth-of-type(2)::after {
    width: 20px;
    height: 20px;
    top: 1px;
    left: 7px;
  }
  .wrapper .about-us .about-us__content .about-us__content__field .fiels__text:nth-of-type(3)::after {
    width: 18px;
    height: 20px;
    top: 2px;
    left: 8px;
  }
  .wrapper .about-us .about-us__content .about-us__content__field .fiels__text::before {
    width: 35px;
    height: 35px;
    top: -6px;
    left: -1px;
  }
  .wrapper .about-us .about-us__content .about-us__content__field::after {
    width: 27px;
    height: 156px;
    top: -24px;
    right: -51px;
  }
  .wrapper .about-us .about-us__content .about-us__content__info {
    padding-right: 25px;
    max-width: 300px;
  }
  .wrapper .about-us .about-us__content .about-us__content__info .info__text {
    font-size: 12.5px;
  }
  .wrapper .numbers::before {
    display: none;
  }
  .wrapper .numbers::after {
    display: none;
  }
  .wrapper .numbers .numbers__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    padding-top: 59px;
  }
  .wrapper .numbers .numbers__content .numbers__content__header {
    max-width: 291px;
    font-size: 29px;
    margin-bottom: 29px;
  }
  .wrapper .numbers .numbers__content .numbers__content__companies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 58px;
  }
  .wrapper .numbers .numbers__content .numbers__content__companies .companies__persent {
    width: 107px;
    height: 107px;
    margin-right: 21px;
    margin-bottom: 39px;
    position: relative;
  }
  .wrapper .numbers .numbers__content .numbers__content__companies .companies__persent::after {
    content: '';
    position: absolute;
    background: url("../images/triangle_yellow_bottom.png") bottom no-repeat;
    width: 26px;
    height: 21px;
    top: 107px;
    left: 12px;
  }
  .wrapper .numbers .numbers__content .numbers__content__companies .companies__persent .companies__persent__text {
    font-size: 29.5px;
    padding-top: 42px;
  }
  .wrapper .numbers .numbers__content .numbers__content__companies .companies__ofc__text {
    max-width: 246px;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0;
  }
  .wrapper .numbers .numbers__content .numbers__content__companies .companies__ofc {
    padding-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .wrapper .numbers .numbers__content .numbers__content__companies .companies__ofc .companies__ofc__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    position: absolute;
    top: 121px;
    right: 70px;
  }
  .wrapper .numbers .numbers__content .numbers__content__companies .companies__ofc .companies__ofc__logo img {
    margin-right: 0;
    margin-bottom: 17px;
  }
  .wrapper .numbers .numbers__content .numbers__content__companies .companies__ofc .companies__ofc__logo img:last-of-type {
    margin-bottom: 0;
  }
  .wrapper .numbers .numbers__content .numbers__content__companies .companies__ofc .companies__ofc__logo .logo__sams {
    width: 69px;
    height: 11px;
  }
  .wrapper .numbers .numbers__content .numbers__content__companies .companies__ofc .companies__ofc__logo .logo__micros {
    width: 74px;
    height: 16px;
  }
  .wrapper .numbers .numbers__content .numbers__content__companies .companies__ofc .companies__ofc__logo .logo__huawei {
    width: 75px;
    height: 16px;
  }
  .wrapper .numbers .numbers__content .numbers__content__companies .companies__ofc .companies__ofc__logo .logo__abby {
    width: 44px;
    height: 13px;
  }
  .wrapper .numbers .numbers__content__statistic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 55px;
  }
  .wrapper .numbers .numbers__content__statistic .statistic__start {
    width: 290px;
    height: 214px;
    margin-right: 0;
    position: relative;
  }
  .wrapper .numbers .numbers__content__statistic .statistic__start::after {
    display: none;
  }
  .wrapper .numbers .numbers__content__statistic .statistic__start::before {
    content: '';
    position: absolute;
    background: url("../images/triangle_yellow_bottom.png") bottom no-repeat;
    width: 26px;
    height: 21px;
    bottom: -21px;
    left: 22px;
  }
  .wrapper .numbers .numbers__content__statistic .statistic__start__text {
    max-width: 170px;
    font-size: 14px;
    padding-top: 48px;
    text-align: center;
  }
  .wrapper .numbers .numbers__content__statistic .statistic__start__text span {
    font-size: 60px;
  }
  .wrapper .numbers .numbers__content__statistic .statistic__ofc {
    padding-top: 40px;
  }
  .wrapper .numbers .numbers__content__statistic .statistic__ofc .statistic__ofc__header {
    max-width: 261px;
    font-size: 14px;
    margin-bottom: 26px;
  }
  .wrapper .numbers .numbers__content__statistic .statistic__ofc .statistic__ofc__text {
    max-width: 278px;
    font-size: 14px;
    margin-bottom: 56px;
  }
  .wrapper .numbers .numbers__content__statistic .statistic__ofc .statistic__partners .statistic__partners__header {
    font-size: 18px;
    margin-bottom: 27px;
  }
  .wrapper .numbers .numbers__content__statistic .statistic__ofc .statistic__partners .statistic__partners__flag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .wrapper .numbers .numbers__content__statistic .statistic__ofc .statistic__partners .statistic__partners__flag .flag__usa,
  .wrapper .numbers .numbers__content__statistic .statistic__ofc .statistic__partners .statistic__partners__flag .flag__europe,
  .wrapper .numbers .numbers__content__statistic .statistic__ofc .statistic__partners .statistic__partners__flag .flag__israel {
    width: 67px;
    height: 43px;
    margin-right: 22px;
  }
  .wrapper .numbers .numbers__content__statistic .statistic__ofc .statistic__partners .statistic__partners__flag .flag__usa:last-of-type,
  .wrapper .numbers .numbers__content__statistic .statistic__ofc .statistic__partners .statistic__partners__flag .flag__europe:last-of-type,
  .wrapper .numbers .numbers__content__statistic .statistic__ofc .statistic__partners .statistic__partners__flag .flag__israel:last-of-type {
    margin-right: 0;
  }
  .wrapper .numbers .numbers__content__facts {
    max-width: 305px;
    margin-bottom: 24px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .wrapper .numbers .numbers__content__facts .facts__header {
    font-size: 24px;
    margin-bottom: 29px;
  }
  .wrapper .numbers .numbers__content__facts .facts__text {
    font-size: 14px;
    margin-bottom: 26px;
    padding-left: 15px;
    position: relative;
  }
  .wrapper .numbers .numbers__content__facts .facts__text:last-of-type {
    margin-bottom: 59px;
  }
  .wrapper .numbers .numbers__content__facts .facts__text::after {
    width: 11px;
    height: 13px;
    top: 1px;
    left: 2px;
  }
  .wrapper .numbers .numbers__content__facts .facts__info {
    max-width: 240px;
    font-size: 12px;
  }
  .wrapper .numbers .numbers__content__facts .facts__info .info__link {
    display: block;
  }
  .wrapper .join::after {
    display: none;
  }
  .wrapper .join::before {
    background-size: cover;
    width: 320px;
    height: 213px;
  }
  .wrapper .join .join__content {
    padding: 58px 15px 0 15px;
  }
  .wrapper .join .join__content__header {
    font-size: 30px;
    max-width: 190px;
    margin-bottom: 29px;
  }
  .wrapper .join .join__content__text {
    max-width: 279px;
    font-size: 14px;
    margin-bottom: 38px;
  }
  .wrapper .join .join__content__btn {
    max-width: 160px;
    height: 50px;
    font-size: 12.5px;
    margin-bottom: 59px;
  }
  .wrapper .team {
    padding-top: 62px;
  }
  .wrapper .team::before {
    display: none;
  }
  .wrapper .team .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper .team .team__header {
    font-size: 30px;
    max-width: 190px;
    margin-bottom: 39px;
  }
  .wrapper .team .team__worker {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper .team .team__worker .team__worker__item {
    max-width: 290px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #fafafa;
    text-align: center;
    margin: 0 0 29px 0;
  }
  .wrapper .team .team__worker .team__worker__item:last-of-type {
    margin-bottom: 0;
  }
  .wrapper .team .team__worker .worker__item__tla {
    padding-top: 41px;
    padding-bottom: 39px;
  }
  .wrapper .team .team__worker .worker__item__tla .tla__avatar {
    width: 116px;
    height: 117px;
    margin-bottom: 28px;
  }
  .wrapper .team .team__worker .worker__item__tla .tla__name {
    font-size: 16.5px;
  }
  .wrapper .team .team__worker .worker__item__tla .tla__post {
    font-size: 15.5px;
  }
  .wrapper .team .team__worker .worker__item__tla .tla__in img {
    width: 23px;
    height: 23px;
  }
  .wrapper .partners {
    display: block;
    padding: 60px 15px 0 15px;
    margin-bottom: 77px;
  }
  .wrapper .partners .partners__info {
    margin-right: 0;
  }
  .wrapper .partners .partners__info .partners__info__header {
    max-width: 194px;
    font-size: 30px;
    margin-bottom: 39px;
  }
  .wrapper .partners .partners__info .partners__info__text {
    display: none;
  }
  .wrapper .partners .partners__logos {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .wrapper .partners .partners__logos a {
    display: block;
  }
  .wrapper .partners .partners__logos .partners__logos__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    margin-bottom: 0px;
  }
  .wrapper .partners .partners__logos .partners__logos__items:last-of-type {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .wrapper .partners .partners__logos .partners__logos__items .logos__items_gl-tech img {
    width: 127px;
    height: 38px;
    margin-right: 20px;
    margin-bottom: 35px;
  }
  .wrapper .partners .partners__logos .partners__logos__items .logos__items_codeska img {
    width: 126px;
    height: 22px;
    margin-right: 20px;
    margin-bottom: 35px;
  }
  .wrapper .partners .partners__logos .partners__logos__items .logos__items_100 img {
    width: 130px;
    height: 45px;
    padding-left: 0;
    margin-bottom: 35px;
    margin-right: 20px;
  }
  .wrapper .partners .partners__logos .partners__logos__items .logos__items_fin-tech img {
    width: 185px;
    height: 22px;
    margin-right: 23px;
    margin-bottom: 35px;
  }
  .wrapper .partners .partners__logos .partners__logos__items .logos__items_ilawlab h2 {
    line-height: 27px;
    font-size: 27px;
    margin-bottom: 35px;
  }
  .wrapper .partners .partners__logos .partners__logos__items .logos__items_patiole img {
    width: 57px;
    height: 57px;
    margin-right: 20px;
    margin-bottom: 35px;
  }
  .wrapper .partners .partners__logos .partners__logos__items .logos__items_pga img {
    width: 60px;
    height: 56px;
    margin-bottom: 35px;
  }
  .wrapper .contact-content::after {
    display: none;
  }
  .wrapper .contact-content .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper .contact {
    padding: 60px 15px 78px 15px;
  }
  .wrapper .contact .contact__header {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .wrapper .contact .contact__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .wrapper .contact .contact__socials .socials__email {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .wrapper .contact .contact__socials .socials__email .email__input {
    max-width: 212px;
    height: 55px;
    font-size: 14px;
    padding-left: 19px;
    padding-right: 26px;
  }
  .wrapper .contact .contact__socials .socials__email .email__link {
    width: 73px;
    height: 55px;
  }
  .wrapper .contact .contact__socials .socials__email .email__link img {
    width: 19px;
    height: 15px;
    padding: 20px 27px;
  }
  .wrapper .contact .contact__socials .fb__link,
  .wrapper .contact .contact__socials .twit__link,
  .wrapper .contact .contact__socials .in__link,
  .wrapper .contact .contact__socials .telega__link {
    width: 57px;
    height: 55px;
  }
  .wrapper .contact .contact__socials .social__fb,
  .wrapper .contact .contact__socials .social__twt,
  .wrapper .contact .contact__socials .social__in,
  .wrapper .contact .contact__socials .social__telega {
    width: 57px;
    height: 55px;
  }
  .wrapper .contact .contact__socials .social__fb img,
  .wrapper .contact .contact__socials .social__twt img,
  .wrapper .contact .contact__socials .social__in img,
  .wrapper .contact .contact__socials .social__telega img {
    padding-top: 20px;
  }
  .wrapper .contact .contact__socials .social__fb:hover:after,
  .wrapper .contact .contact__socials .social__twt:hover:after,
  .wrapper .contact .contact__socials .social__in:hover:after,
  .wrapper .contact .contact__socials .social__telega:hover:after {
    width: 22px;
    height: 14px;
    top: 20px;
    left: 16px;
  }
  .wrapper .contact .contact__socials .social__fb {
    margin-right: 21px;
  }
  .wrapper .contact .contact__socials .social__fb img {
    width: 9px;
    height: 18px;
  }
  .wrapper .contact .contact__socials .social__twt {
    margin-right: 20px;
  }
  .wrapper .contact .contact__socials .social__twt img {
    width: 18px;
    height: 14px;
  }
  .wrapper .contact .contact__socials .social__in {
    margin-right: 21px;
  }
  .wrapper .contact .contact__socials .social__in img {
    width: 17px;
    height: 17px;
  }
  .wrapper .contact .contact__socials .social__telega img {
    width: 18px;
    height: 16px;
  }
  .wrapper .footer-content::after {
    display: none;
  }
  .wrapper .footer-content::before {
    display: none;
  }
  .wrapper .footer-content .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 61px;
    padding-bottom: 59px;
  }
  .wrapper .navigation {
    padding: 0 15px 0 15px;
    max-width: 593px;
  }
  .wrapper .navigation .navigation__header {
    font-size: 30px;
    margin-bottom: 35px;
  }
  .wrapper .navigation .present__menu {
    margin-bottom: 34px;
  }
  .wrapper .navigation .present__menu .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper .navigation .present__menu .menu__list .menu__list__item {
    font-size: 14px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .wrapper .navigation .present__menu .menu__list .menu__list__item:last-of-type {
    margin-right: 0;
  }
  .wrapper .navigation .navigation__logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .wrapper .navigation .navigation__logos img:last-of-type {
    margin-right: 32px;
  }
  .wrapper .navigation #mc_embed_signup_scroll .mc-field-group .email__input {
    padding-left: 5px;
  }
  .wrapper .navigation #mc_embed_signup_scroll .clear {
    width: 80px;
    height: 35px;
    position: absolute;
    top: 9px;
    right: 7px;
  }
  .wrapper .navigation #mc_embed_signup_scroll .clear .button {
    width: 80px;
    height: 35px;
    font-size: 11.5px;
    padding: 0 7px;
  }
  .wrapper .navigation .navigation__input {
    position: relative;
    max-width: 290px;
  }
  .wrapper .navigation .navigation__input .email__input {
    max-width: 290px;
    height: 55px;
    font-size: 14px;
    padding-right: 47px;
    margin-bottom: 59px;
  }
  .wrapper .navigation .navigation__info .info__policy {
    margin-bottom: 40px;
  }
  .wrapper .navigation .navigation__info .info__policy a {
    font-size: 14px;
  }
  .wrapper .navigation .navigation__info .info__copy {
    width: 80%;
    font-size: 12px;
    margin-bottom: 10px;
  }
  .wrapper .navigation .navigation__info .info__design {
    font-size: 12px;
  }
  .wrapper .news {
    margin: 0 auto;
    padding: 0 18px 0 18px;
    max-width: 289px;
    margin-bottom: 60px;
  }
  .wrapper .news .news__header {
    font-size: 30px;
    max-width: 185px;
    margin-bottom: 39px;
  }
}
/*# sourceMappingURL=styles.css.map */