@font-face {
  font-family: "GothamPro";
  src: url("../../fonts/GothamPro.eot");
  src: url("../../fonts/GothamPro.eot?#iefix") format("embedded-opentype"), url("../../fonts/GothamPro.woff") format("woff"), url("../../fonts/GothamPro-Bold.eot") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProBold";
  src: url("../../fonts/GothamPro-Bold.eot");
  src: url("../../fonts/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/GothamPro-Bold.woff") format("woff"), url("../../fonts/GothamPro-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: normal;
  font-family: 'GothamPro', sans-serif;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.wrapper {
  width: 100%;
  max-width: 1900px;
  margin: 0 auto;
}

.wrapper .container {
  max-width: 1140px;
  margin: 0 auto 70px;
}

.wrapper .welcome {
  width: 100%;
  height: 107px;
  background-color: #181c1d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .present {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .present .present__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 52px;
}

.wrapper .present .present__logo .logo__glob {
  width: 209px;
  height: 107px;
  background-color: #ffffff;
}

.wrapper .present .present__logo .logo__ukr__img {
  width: 141px;
  height: 68px;
  padding-top: 19px;
  padding-right: 68px;
}

.wrapper .present .present__logo .logo__glob__img {
  width: 140px;
  height: 41px;
  padding: 33px 0 0 34px;
}

.wrapper .present .view_menu {
  display: none;
}

.wrapper .present .close_menu {
  display: none;
}

.wrapper .present .present__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .present .present__menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .present .present__menu .menu__list .menu__list__item {
  font-size: 14px;
  list-style-type: none;
  margin-right: 40px;
}

.wrapper .present .present__menu .menu__list .menu__list__item:last-of-type {
  margin-right: 0;
}

.wrapper .present .present__menu .menu__list .menu__list__item .item__link {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.wrapper .present .present__menu .menu__list .menu__list__item .item__link:hover {
  text-decoration: none;
  color: #fbd525;
}

.wrapper .header_main {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-family: 'GothamProBold', sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 25px;
  text-align: center;
  padding-top: 40px;
}

.wrapper .header {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-family: 'GothamProBold', sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 30px;
}

.wrapper .points li {
  margin-bottom: 6px;
}

.wrapper .mark_list {
  padding-left: 25px;
}

.wrapper .info {
  border-top: 3px solid black;
  border-bottom: 2px solid grey;
  padding: 13px 0 13px 0;
}

.wrapper .info_two {
  border-bottom: 2px solid grey;
  border-top: 2px solid grey;
  padding: 13px 0 13px 0;
}

.wrapper .table {
  width: 100%;
  margin: 0 auto;
}

.wrapper .table tr {
  padding-bottom: 10px;
}

.wrapper .table td.line_title {
  font-family: 'GothamProBold', sans-serif;
  font-weight: bold;
}

.wrapper .table td {
  padding-right: 10px;
}

.wrapper .table-mobile {
  display: none;
}

.wrapper .footer-content {
  width: 100%;
  background-color: #181c1d;
}

.wrapper .footer-content .footer-container {
  max-width: 1100px;
  margin: 0 auto;
}

.wrapper .footer-content .contact__header {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-family: 'GothamProBold', sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
  width: 100%;
  font-size: 35px;
  color: #ffffff;
  margin-bottom: 79px;
  padding-top: 60px;
}

.wrapper .footer-content .contact__header span {
  color: #fbd525;
}

.wrapper .footer-content .contact__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-bottom: 70px;
}

.wrapper .footer-content .contact__email {
  position: relative;
  max-width: 583px;
}

.wrapper .footer-content .contact__email .email__input {
  width: 460px;
  height: 80px;
  -webkit-box-shadow: 0px 3px 29.4px 0.6px rgba(24, 28, 29, 0.01);
          box-shadow: 0px 3px 29.4px 0.6px rgba(24, 28, 29, 0.01);
  background-color: #212627;
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  padding-left: 45px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper .footer-content .contact__email .email__input:focus {
  outline: none;
}

.wrapper .footer-content .contact__email .email__btn {
  position: absolute;
  width: 26px;
  height: 24px;
  background: url("../priv_images/send.svg") no-repeat;
  background-size: 26px, 24px;
  border: none;
  top: 30px;
  right: 55px;
  cursor: pointer;
}

.wrapper .footer-content .contact__email .email__btn:focus {
  outline: none;
}

.wrapper .footer-content .navigation__logos {
  width: 100%;
  max-width: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.wrapper .footer-content .navigation__logos .logos__fb img {
  width: 14px;
  height: 29px;
}

.wrapper .footer-content .navigation__logos .logos__twt img {
  width: 28px;
  height: 22px;
}

.wrapper .footer-content .navigation__logos .logos__in img {
  width: 24px;
  height: 24px;
}

.wrapper .footer-content .navigation__logos .logos__telega img {
  width: 28px;
  height: 25px;
}

@media (max-width: 1200px) {
  .wrapper .container {
    max-width: 865px;
  }
  .wrapper .welcome {
    height: 70px;
  }
  .wrapper .present .present__logo {
    padding-right: 100px;
  }
  .wrapper .present .present__logo .logo__glob {
    width: 104px;
    height: 70px;
  }
  .wrapper .present .present__logo .logo__ukr__img {
    width: 81px;
    height: 39px;
    padding-top: 17px;
    padding-right: 20px;
  }
  .wrapper .present .present__logo .logo__glob__img {
    width: 75px;
    height: 22px;
    padding: 23px 0 0 12px;
  }
  .wrapper .present .view_menu {
    display: none;
  }
  .wrapper .present .close_menu {
    display: none;
  }
  .wrapper .present .present__menu .menu__list .menu__list__item {
    font-size: 12px;
    margin-right: 35px;
  }
  .wrapper .footer-content .footer-container {
    max-width: 860px;
  }
  .wrapper .footer-content .contact__email {
    max-width: 400px;
  }
  .wrapper .footer-content .contact__email .email__input {
    width: 400px;
  }
  .wrapper .footer-content .contact__email .email__btn {
    top: 28px;
    right: 32px;
  }
  .wrapper .footer-content .navigation__logos {
    max-width: 400px;
  }
}

@media (min-width: 786px) and (max-width: 1199px) {
  .wrapper .container {
    max-width: 700px;
    position: relative;
  }
  .wrapper .welcome {
    height: 64px;
  }
  .wrapper .present {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 700px;
  }
  .wrapper .present .present__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0;
  }
  .wrapper .present .present__logo .logo__glob {
    width: 91px;
    height: 64px;
  }
  .wrapper .present .present__logo .logo__ukr__img {
    width: 75px;
    height: 35px;
    padding-top: 15px;
    padding-right: 17px;
  }
  .wrapper .present .present__logo .logo__glob__img {
    width: 75px;
    height: 22px;
    padding: 21px 0 0 8px;
  }
  .wrapper .present .view_menu {
    display: block;
    padding-top: 19px;
  }
  .wrapper .present .view_menu svg {
    width: 27px;
    height: 20px;
    fill: #ffffff;
  }
  .wrapper .present .close_menu {
    display: none;
    float: right;
    padding-bottom: 42px;
    width: 24px;
    height: 24px;
    padding: 19px 14px 0 0;
    fill: #fbd525;
  }
  .wrapper .present .present__menu {
    display: none;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    width: 40%;
    height: 554px;
    background-color: #1f2324;
  }
  .wrapper .present .present__menu .menu__list {
    padding-top: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper .present .present__menu .menu__list .menu__list__item {
    max-width: 105px;
    font-size: 18px;
    list-style-type: none;
    margin-right: 0;
    margin-bottom: 58px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  .wrapper .present .present__menu .menu__list .menu__list__item:last-of-type {
    display: none;
  }
  .wrapper .header_main {
    font-size: 20px;
  }
  .wrapper .header {
    font-size: 18px;
  }
  .wrapper .points {
    font-size: 13px;
  }
  .wrapper .table {
    font-size: 13px;
  }
  .wrapper .footer-content .footer-container {
    max-width: 680px;
  }
  .wrapper .footer-content .contact__header {
    font-size: 20px;
    margin-bottom: 58px;
    padding-top: 55px;
  }
  .wrapper .footer-content .contact__wrap {
    padding-bottom: 60px;
  }
  .wrapper .footer-content .contact__email {
    max-width: 300px;
  }
  .wrapper .footer-content .contact__email .email__input {
    width: 300px;
    height: 60px;
    font-size: 16px;
    padding-left: 35px;
  }
  .wrapper .footer-content .contact__email .email__btn {
    background-size: 22px, 20px;
    top: 19px;
    right: 24px;
  }
  .wrapper .footer-content .navigation__logos {
    max-width: 300px;
  }
  .wrapper .footer-content .navigation__logos .logos__fb img {
    width: 12px;
    height: 26px;
  }
  .wrapper .footer-content .navigation__logos .logos__twt img {
    width: 26px;
    height: 20px;
  }
  .wrapper .footer-content .navigation__logos .logos__in img {
    width: 22px;
    height: 22px;
  }
  .wrapper .footer-content .navigation__logos .logos__telega img {
    width: 26px;
    height: 23px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper .container {
    max-width: 280px;
    position: relative;
  }
  .wrapper .welcome {
    height: 64px;
  }
  .wrapper .present {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 280px;
  }
  .wrapper .present .present__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0;
    padding-left: 15px;
  }
  .wrapper .present .present__logo .logo__glob {
    width: 91px;
    height: 64px;
  }
  .wrapper .present .present__logo .logo__ukr__img {
    width: 75px;
    height: 35px;
    padding-top: 15px;
    padding-right: 17px;
  }
  .wrapper .present .present__logo .logo__glob__img {
    width: 75px;
    height: 22px;
    padding: 21px 0 0 8px;
  }
  .wrapper .present .view_menu {
    display: block;
    padding: 19px 15px 0 0;
  }
  .wrapper .present .view_menu svg {
    width: 27px;
    height: 20px;
    fill: #ffffff;
  }
  .wrapper .present .close_menu {
    display: none;
    width: 24px;
    height: 24px;
    padding-top: 19px;
    fill: #fbd525;
    padding-left: 176px;
  }
  .wrapper .present .present__menu {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    max-width: 215px;
    height: 526px;
    background-color: #1f2324;
  }
  .wrapper .present .present__menu .menu__list {
    padding-top: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper .present .present__menu .menu__list .menu__list__item {
    max-width: 105px;
    font-size: 18px;
    list-style-type: none;
    margin-right: 0;
    margin-bottom: 58px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  .wrapper .present .present__menu .menu__list .menu__list__item:last-of-type {
    display: none;
  }
  .wrapper .header_main {
    font-size: 18px;
  }
  .wrapper .header {
    font-size: 16px;
    padding-top: 10px;
  }
  .wrapper .points {
    font-size: 12px;
  }
  .wrapper .table {
    display: none;
  }
  .wrapper .table-mobile {
    display: block;
    font-size: 12px;
    width: 100%;
    margin: 0 auto;
  }
  .wrapper .table-mobile tr {
    padding-bottom: 10px;
  }
  .wrapper .table-mobile td.line_title {
    font-family: 'GothamProBold', sans-serif;
    font-weight: bold;
  }
  .wrapper .table-mobile td {
    padding-right: 10px;
  }
  .wrapper .table-mobile .col-last {
    padding-bottom: 13px;
    border-bottom: 2px solid grey;
  }
  .wrapper .footer-content .footer-container {
    max-width: 260px;
  }
  .wrapper .footer-content .contact__header {
    font-size: 16px;
    margin-bottom: 45px;
    padding-top: 50px;
  }
  .wrapper .footer-content .contact__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 60px;
  }
  .wrapper .footer-content .contact__email {
    max-width: 260px;
    margin-bottom: 40px;
  }
  .wrapper .footer-content .contact__email .email__input {
    width: 260px;
    height: 60px;
    font-size: 16px;
    padding-left: 15px;
  }
  .wrapper .footer-content .contact__email .email__btn {
    background-size: 22px, 20px;
    top: 19px;
    right: 18px;
  }
  .wrapper .footer-content .navigation__logos {
    max-width: 260px;
  }
  .wrapper .footer-content .navigation__logos .logos__fb img {
    width: 10px;
    height: 23px;
  }
  .wrapper .footer-content .navigation__logos .logos__twt img {
    width: 24px;
    height: 17px;
  }
  .wrapper .footer-content .navigation__logos .logos__in img {
    width: 20px;
    height: 19px;
  }
  .wrapper .footer-content .navigation__logos .logos__telega img {
    width: 24px;
    height: 20px;
  }
}
/*# sourceMappingURL=styles.css.map */