@font-face {
    font-family: "GothamPro";
    src: url("../../fonts/GothamPro.eot");
    src: url("../../fonts/GothamPro.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/GothamPro.woff") format("woff"),
    url("../../fonts/GothamPro-Bold.eot") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: "GothamProBold";
    src: url("../../fonts/GothamPro-Bold.eot");
    src: url("../../fonts/GothamPro-Bold.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/GothamPro-Bold.woff") format("woff"),
    url("../../fonts/GothamPro-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }

  @mixin header-default {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    font-family: 'GothamProBold', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}


$main-yellow:#fbd525;
$main-black: #181c1d;
$main-white: #ffffff;

* {
    padding: 0;
    margin: 0;
  }
  body {
    margin: 0;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: normal;
    font-family: 'GothamPro', sans-serif;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }

.wrapper {
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;

    .container {
        max-width: 1140px;
        margin: 0 auto 70px;
    }
    .welcome {
        width: 100%;
        height: 107px;
        background-color: $main-black;
        display: flex;
    }
    .present {
        width: 100%;
        display: flex;
        .present__logo {
            display: flex;
            padding-right: 52px;
            .logo__glob {
                width: 209px;
                height: 107px;
                background-color: $main-white;
            }
            .logo__ukr__img {
                width: 141px;
                height: 68px;
                padding-top: 19px;
                padding-right: 68px;        
            }
            .logo__glob__img {
                width: 140px;
                height: 41px;
                padding: 33px 0 0 34px;
            }
        }
        .view_menu {
            display: none;
        }
        .close_menu {
            display: none;
        }
        .present__menu {
            display: flex;
           
            .menu__list {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .menu__list__item {
                    font-size: 14px;
                    list-style-type: none;
                    margin-right: 40px;
                    &:last-of-type {
                        margin-right: 0;
                    }
                    .item__link {
                        color: $main-white;
                        text-decoration: none;
                        cursor: pointer;
                        &:hover {
                            text-decoration: none;
                            color: $main-yellow;
                        }
                    }
                }
            }
        }
    }
    .header_main {
        @include header-default();
        font-size: 25px;
        text-align: center;
        padding-top: 40px;
    }
    .header {
        @include header-default();
        padding-top: 30px;
    }
    .points {
        li {
            margin-bottom: 6px;
        }
    }
    .mark_list {
        padding-left: 25px;          
    }
    .info {
        border-top: 3px solid black;
        border-bottom: 2px solid grey;
        padding: 13px 0 13px 0;
    }    
    .info_two {
        border-bottom: 2px solid grey;
        border-top: 2px solid grey;
        padding: 13px 0 13px 0;
    }
    .table {
        width: 100%;
        margin: 0 auto;
        
        tr {
            padding-bottom: 10px;
        }
        td.line_title {
            font-family: 'GothamProBold', sans-serif;
            font-weight: bold;
        }
        td {
            padding-right: 10px;
        }        
    }
    .table-mobile {
        display: none;
    }
.footer-content {
    width: 100%;
    background-color: $main-black; 
    .footer-container {
        max-width: 1100px;
        margin: 0 auto; 
    }
    .contact__header {
        @include header-default();
        width: 100%;
        font-size: 35px;
        color: $main-white;
        margin-bottom: 79px;
        padding-top: 60px;
            span {
                color: $main-yellow;            
            }
        }
        .contact__wrap {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            padding-bottom: 70px;
        }
        .contact__email {
            position: relative;
            max-width: 583px;
            .email__input {
                width: 460px;
                height: 80px;
                box-shadow: 0px 3px 29.4px 0.6px rgba(24, 28, 29, 0.01);
                background-color: #212627;
                color: rgba(255, 255, 255, 0.5);
                font-size: 20px;
                padding-left: 45px;
                border: none;
                box-sizing: border-box;
                &:focus {
                    outline: none;
                }
            }
            .email__btn {
                position: absolute;
                width: 26px;
                height: 24px;
                background: url('../priv_images/send.svg') no-repeat;
                background-size: 26px, 24px;
                border: none;
                top: 30px;
                right: 55px;
                cursor: pointer;
                &:focus {
                    outline: none;
                }
            }
        }
        .navigation__logos {
            width: 100%;
            max-width: 470px;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            .logos__fb {
                img {
                    width: 14px;
                    height: 29px;
                }
            }
            .logos__twt {
                img {
                    width: 28px;
                    height: 22px;
                }
            }
            .logos__in {
                img {
                    width: 24px;
                    height: 24px;
                }
            }
            .logos__telega {
                img {
                    width: 28px;
                    height: 25px;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .wrapper {
        .container {
            max-width: 865px;
        }
        .welcome {
            height: 70px;
        }
        .present {
            .present__logo {
                padding-right: 100px;
                .logo__glob {
                    width: 104px;
                    height: 70px;
                }
                .logo__ukr__img {
                    width: 81px;
                    height: 39px;
                    padding-top: 17px;
                    padding-right: 20px;        
                }
                .logo__glob__img {
                    width: 75px;
                    height: 22px;
                    padding: 23px 0 0 12px;
                }
            }
            .view_menu {
                display: none;
            }
            .close_menu {
                display: none;
            }
            .present__menu {
                .menu__list {
                    .menu__list__item {
                        font-size: 12px;
                        margin-right: 35px;
                    }
                }
            }
        }
        .footer-content {
            .footer-container {
                max-width: 860px;
            }
            .contact__email {
                max-width: 400px;
                .email__input {
                    width: 400px;
                }
                .email__btn {
                    top: 28px;
                    right: 32px;
                }
            }
            .navigation__logos {
                max-width: 400px;
            }
        }
    }
}

@media (min-width: 786px) and (max-width: 1199px)  {
    .wrapper {    
        .container {
            max-width: 700px;
            position: relative;
        }
        .welcome {
            height: 64px;
        }
        .present {
            display: flex;
            justify-content: space-between;
            width: 700px;
            .present__logo {
                display: flex;
                padding-right: 0;
                .logo__glob {
                    width: 91px;
                    height: 64px;
                }
                .logo__ukr__img {
                    width: 75px;
                    height: 35px;
                    padding-top: 15px;
                    padding-right: 17px;        
                }
                .logo__glob__img {
                    width: 75px;
                    height: 22px;
                    padding: 21px 0 0 8px;
                }
            }
            .view_menu {
                display: block;
                padding-top: 19px;
                svg {
                    width: 27px;
                    height: 20px;
                    fill: $main-white;
                }
            }
            .close_menu {
                display: none;
                float: right;
                padding-bottom: 42px;
                width: 24px;
                height: 24px;
                padding: 19px 14px 0 0;
                fill: $main-yellow;
            }
            .present__menu {
                display: none;
                position: absolute;
                z-index: 100;
                top: 0;
                right: 0;
                width: 40%;
                height: 554px;
                background-color: #1f2324;
                .menu__list {
                    padding-top: 90px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .menu__list__item {
                        max-width: 105px;
                        font-size: 18px;
                        list-style-type: none;
                        margin-right: 0;
                        margin-bottom: 58px;
                        text-align: center;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                        &:last-of-type {
                            display: none;
                        }
                    }
                }
            }
        }
        .header_main {
            font-size: 20px;        
        }
        .header {
            font-size: 18px;
        }
        .points {
            font-size: 13px;
        }
        .table {
            font-size: 13px;
        }
        .footer-content {
            .footer-container {
                max-width: 680px;
            }
            .contact__header {
                font-size: 20px;
                margin-bottom: 58px;
                padding-top: 55px;
            }
            .contact__wrap {
                padding-bottom: 60px;
            }
            .contact__email {
                max-width: 300px;
                .email__input {
                    width: 300px;
                    height: 60px;
                    font-size: 16px;
                    padding-left: 35px;
                }
                .email__btn {
                    background-size: 22px, 20px;
                    top: 19px;
                    right: 24px;
                }
            }
            .navigation__logos {
                max-width: 300px;
                .logos__fb {
                    img {
                        width: 12px;
                        height: 26px;
                    }
                }
                .logos__twt {
                    img {
                        width: 26px;
                        height: 20px;
                    }
                }
                .logos__in {
                    img {
                        width: 22px;
                        height: 22px;
                    }
                }
                .logos__telega {
                    img {
                        width: 26px;
                        height: 23px;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .wrapper {    
        .container {
            max-width: 280px;
            position: relative;
        }
        .welcome {
            height: 64px;
        }
        .present {
            display: flex;
            justify-content: space-between;
            width: 280px;
            .present__logo {
                display: flex;
                padding-right: 0;
                padding-left: 15px;
                .logo__glob {
                    width: 91px;
                    height: 64px;
                }
                .logo__ukr__img {
                    width: 75px;
                    height: 35px;
                    padding-top: 15px;
                    padding-right: 17px;        
                }
                .logo__glob__img {
                    width: 75px;
                    height: 22px;
                    padding: 21px 0 0 8px;
                }
            }
            .view_menu {
                display: block;
                padding: 19px 15px 0 0;
                svg {
                    width: 27px;
                    height: 20px;
                    fill: $main-white;
                }
            }
            .close_menu {
                display: none;
                width: 24px;
                height: 24px;
                padding-top: 19px;
                fill: $main-yellow;
                padding-left: 176px;
            }
            .present__menu {
                display: none;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 2;
                width: 100%;
                max-width: 215px;
                height: 526px;
                background-color: #1f2324;
                .menu__list {
                    padding-top: 42px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .menu__list__item {
                        max-width: 105px;
                        font-size: 18px;
                        list-style-type: none;
                        margin-right: 0;
                        margin-bottom: 58px;
                        text-align: center;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                        &:last-of-type {
                            display: none;
                        }
                    }
                }
            }
        }
        .header_main {
            font-size: 18px;        
        }
        .header {
            font-size: 16px;
            padding-top: 10px;
        }
        .points {
            font-size: 12px;
        }
        .table {
            display: none;
        }
        .table-mobile {
            display: block;
            font-size: 12px;
            width: 100%;
            margin: 0 auto;
            
            tr {
                padding-bottom: 10px;
            }
            td.line_title {
                font-family: 'GothamProBold', sans-serif;
                font-weight: bold;
            }
            td {
                padding-right: 10px;
            }
            .col-last {
                padding-bottom: 13px;
                border-bottom: 2px solid grey;
            }
        }
        .footer-content {
            .footer-container {
                max-width: 260px;
            }
            .contact__header {
                font-size: 16px;
                margin-bottom: 45px;
                padding-top: 50px;
            }
            .contact__wrap {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 60px;
            }
            .contact__email {
                max-width: 260px;
                margin-bottom: 40px;
                .email__input {
                    width: 260px;
                    height: 60px;
                    font-size: 16px;
                    padding-left: 15px;
                }
                .email__btn {
                    background-size: 22px, 20px;
                    top: 19px;
                    right: 18px;
                }
            }
            .navigation__logos {
                max-width: 260px;
                .logos__fb {
                    img {
                        width: 10px;
                        height: 23px;
                    }
                }
                .logos__twt {
                    img {
                        width: 24px;
                        height: 17px;
                    }
                }
                .logos__in {
                    img {
                        width: 20px;
                        height: 19px;
                    }
                }
                .logos__telega {
                    img {
                        width: 24px;
                        height: 20px;
                    }
                }
            }
        }
    }
}